Repository Refinitiv/refinitiv-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write --ignore-unknown

refactor(interactive-chart): improve casting type
  packages/elements/src/interactive-chart/index.ts
Due: eslint --fix, prettier --write --ignore-unknown

refactor(interactive-chart): remove unnecessary type cover
  packages/elements/src/interactive-chart/index.ts
Due: eslint --fix, prettier --write --ignore-unknown

refactor(interactive-chart): casting type
  packages/elements/src/interactive-chart/index.ts
Due: eslint --fix, prettier --write --ignore-unknown

test(slider): add input test case
  packages/elements/src/slider/__test__/slider.event.test.js
Due: eslint --fix, prettier --write --ignore-unknown

fix: force blackduck to use node_modules lerna
  .github/workflows/blackduck_scan.yml
Due: prettier --write --ignore-unknown

refactor(interactive-chart): revise internal chart type and type export (#887)
  packages/elements/src/interactive-chart/helpers/types.ts
  packages/elements/src/interactive-chart/index.ts
Due: eslint --fix, prettier --write --ignore-unknown

fix(combo-box): remove redundant input border when disabled
  packages/halo-theme/src/custom-elements/ef-combo-box.less
Due: prettier --write --ignore-unknown

docs(slider): add input events document
  packages/elements/src/slider/index.ts
Due: eslint --fix, prettier --write --ignore-unknown

fix: force blackduck to use node_modules lerna (#894)
  .github/workflows/blackduck_scan.yml
Due: prettier --write --ignore-unknown

fix: force blackduck to use node_modules lerna (#893)
  .github/workflows/blackduck_scan.yml
Due: prettier --write --ignore-unknown

test: refactor unit test
  packages/core/__snapshots__/TestControlElement.md
  packages/core/__snapshots__/TestCustomElement.md
  packages/core/__snapshots__/TestCustomStyleRegistry.md
  packages/core/__snapshots__/TestDeprecationNotice.md
  packages/core/__snapshots__/TestDuplicateElementError.md
  packages/core/__snapshots__/TestDuplicateStyleError.md
  packages/core/__snapshots__/TestElementRegistry.md
  packages/core/__snapshots__/TestNativeStyleRegistry.md
  packages/core/__snapshots__/TestNotice.md
  packages/core/__snapshots__/TestWarningNotice.md
  packages/core/__test__/decorators/CustomElement.test.js
  packages/core/__test__/elements/ControlElement.test.js
  packages/core/__test__/errors/DuplicateElementError.test.js
  packages/core/__test__/errors/DuplicateStyleError.test.js
  packages/core/__test__/notices/DeprecationNotice.test.js
  packages/core/__test__/notices/Notice.test.js
  packages/core/__test__/notices/WarningNotice.test.js
  packages/core/__test__/registries/CustomStyleRegistry.test.js
  packages/core/__test__/registries/ElementRegistry.test.js
  packages/core/__test__/registries/NativeStyleRegistry.test.js
  packages/elements/src/list/__test__/list.test.js
  packages/elements/src/tree/__test__/tree.test.js
Due: eslint --fix, prettier --write --ignore-unknown

ci: make labeler action condition to be more specific on test files
  .github/labeler.yml
Due: prettier --write --ignore-unknown

test: refactor unit test
  packages/core/__test__/decorators/CustomElement.test.js
  packages/core/__test__/decorators/__snapshots__/CustomElement.test.snap.js
  packages/core/__test__/errors/DuplicateElementError.test.js
  packages/core/__test__/errors/DuplicateStyleError.test.js
  packages/core/__test__/errors/__snapshots__/DuplicateElementError.test.snap.js
  packages/core/__test__/errors/__snapshots__/DuplicateStyleError.test.snap.js
  packages/core/__test__/notices/DeprecationNotice.test.js
  packages/core/__test__/notices/Notice.test.js
  packages/core/__test__/notices/WarningNotice.test.js
  packages/core/__test__/notices/__snapshots__/DeprecationNotice.test.snap.js
  packages/core/__test__/notices/__snapshots__/Notice.test.snap.js
  packages/core/__test__/notices/__snapshots__/WarningNotice.test.snap.js
  packages/core/__test__/registries/CustomStyleRegistry.test.js
  packages/core/__test__/registries/ElementRegistry.test.js
  packages/core/__test__/registries/NativeStyleRegistry.test.js
  packages/core/__test__/registries/__snapshots__/CustomStyleRegistry.test.snap.js
  packages/core/__test__/registries/__snapshots__/ElementRegistry.test.snap.js
  packages/core/__test__/registries/__snapshots__/NativeStyleRegistry.test.snap.js
  packages/elements/src/list/__test__/list.test.js
  packages/elements/src/tree/__test__/tree.test.js
Due: eslint --fix, prettier --write --ignore-unknown

ci: make labeler action condition to be more specific on test files (#899)
  .github/labeler.yml
Due: prettier --write --ignore-unknown

fix(combo-box): remove nested input border when disabled (#895)
  packages/halo-theme/src/custom-elements/ef-combo-box.less
Due: prettier --write --ignore-unknown

fix(combo-box): missing divider between list items (#890)
  packages/halo-theme/src/custom-elements/ef-combo-box.less
Due: prettier --write --ignore-unknown

fix(combo-box): remove nested input border when disabled (#896)
  packages/halo-theme/src/custom-elements/ef-combo-box.less
Due: prettier --write --ignore-unknown

ci: make labeler action condition to be more specific on test files (#900)
  .github/labeler.yml
Due: prettier --write --ignore-unknown

fix(combo-box): missing divider between list items in list (#889)
  packages/halo-theme/src/custom-elements/ef-combo-box.less
Due: prettier --write --ignore-unknown

fix: mock snapshot change
  packages/elements/src/button/__snapshots__/Button.md
Due: prettier --write --ignore-unknown

refactor: add packages list to lerna.json
  lerna.json
Due: prettier --write --ignore-unknown

refactor: cleanup redundant blackduck cli options
  .github/workflows/blackduck_scan.yml
Due: prettier --write --ignore-unknown

chore(release): publish [skip ci]
  documents/CHANGELOG.md
  documents/package.json
  package-lock.json
  packages/demo-block/CHANGELOG.md
  packages/demo-block/package.json
  packages/elements/CHANGELOG.md
  packages/elements/package.json
  packages/halo-theme/CHANGELOG.md
  packages/halo-theme/package.json
Due: prettier --write --ignore-unknown

chore(release): publish [skip ci]
  documents/CHANGELOG.md
  documents/package.json
  package-lock.json
  packages/demo-block/CHANGELOG.md
  packages/demo-block/package.json
  packages/elemental-theme/CHANGELOG.md
  packages/elemental-theme/package.json
  packages/elements/CHANGELOG.md
  packages/elements/package.json
  packages/halo-theme/CHANGELOG.md
  packages/halo-theme/package.json
  packages/solar-theme/CHANGELOG.md
  packages/solar-theme/package.json
Due: prettier --write --ignore-unknown

docs(slider): update input event comment
  packages/elements/src/slider/index.ts
Due: eslint --fix, prettier --write --ignore-unknown

docs(slider): update to-input event desc
  packages/elements/src/slider/index.ts
Due: eslint --fix, prettier --write --ignore-unknown

docs(slider): update from-input event desc
  packages/elements/src/slider/index.ts
Due: eslint --fix, prettier --write --ignore-unknown

docs: update input comment in basic element
  packages/core/src/elements/BasicElement.ts
Due: eslint --fix, prettier --write --ignore-unknown

chore(slider): update demo page
  packages/elements/src/slider/__demo__/index.html
Due: prettier --write --ignore-unknown

ci: try switching glob order
  .github/labeler.yml
Due: prettier --write --ignore-unknown

refactor: move lerna's ignoreChanges to root level
  lerna.json
Due: prettier --write --ignore-unknown

chore: ignore all tsconfig in .npmignore
  packages/core/.npmignore
  packages/create-efx/.npmignore
  packages/demo-block/.npmignore
  packages/elemental-theme/.npmignore
  packages/elements/.npmignore
  packages/halo-theme/.npmignore
  packages/i18n/.npmignore
  packages/phrasebook/.npmignore
  packages/solar-theme/.npmignore
  packages/test-helpers/.npmignore
  packages/theme-compiler/.npmignore
  packages/translate/.npmignore
  packages/utils/.npmignore
Due: none

ci: trying to detect nested folders
  .github/labeler.yml
Due: prettier --write --ignore-unknown

Path conditions:
  eslint --fix: any of: *.{js,ts}
  prettier --write --ignore-unknown: any of: *.{js,mjs,ts,css,less,json,html,yml,md}
