Repository Refinitiv/refinitiv-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write --ignore-unknown

.lintstagedrc.json:

{
  "*.{js,ts}": "eslint --fix",
  "*.{js,mjs,ts,css,json,html,yml,md}": "prettier --write --ignore-unknown"
}

chore(create-efx): update dependencies in package info template (#764)
  packages/create-efx/template/package.json.template
Due: none

docs(flag,icon): remove src usage from docs and code block
  documents/src/pages/elements/flag.md
  documents/src/pages/elements/icon.md
  packages/elements/src/flag/index.ts
  packages/elements/src/icon/index.ts
Due: eslint --fix, prettier --write --ignore-unknown

docs(icon): remove preload from icon page
  documents/src/pages/elements/icon.md
Due: prettier --write --ignore-unknown

Revert "docs(icon): remove preload from icon page"
  documents/src/pages/elements/icon.md
Due: prettier --write --ignore-unknown

Update packages/elements/src/icon/index.ts
  packages/elements/src/icon/index.ts
Due: eslint --fix, prettier --write --ignore-unknown

Update packages/elements/src/flag/index.ts
  packages/elements/src/flag/index.ts
Due: eslint --fix, prettier --write --ignore-unknown

chore(icon): update jsdoc
  packages/elements/src/icon/utils/IconLoader.ts
Due: eslint --fix, prettier --write --ignore-unknown

chore(utils): update JSDoc text deprecation notice
  packages/elements/src/flag/index.ts
  packages/elements/src/icon/index.ts
  packages/elements/src/icon/utils/IconLoader.ts
  packages/elements/src/interactive-chart/index.ts
Due: eslint --fix, prettier --write --ignore-unknown

test(calendar): remove keyboard event for ie11
  packages/elements/src/calendar/__test__/calendar.value.test.js
Due: eslint --fix, prettier --write --ignore-unknown

docs(flag,icon): remove src usage from docs and code block (#765)
  documents/src/pages/elements/flag.md
  documents/src/pages/elements/icon.md
  packages/elements/src/flag/index.ts
  packages/elements/src/icon/index.ts
Due: eslint --fix, prettier --write --ignore-unknown

feat(icon): change element to load svg sprite icon by default (#758)
  documents/src/pages/elements/icon.md
  packages/elemental-theme/src/custom-elements/ef-icon.less
  packages/elements/src/collapse/index.ts
  packages/elements/src/datetime-picker/index.ts
  packages/elements/src/icon/__demo__/index.html
  packages/elements/src/icon/__test__/helpers/helpers.js
  packages/elements/src/icon/__test__/icon.test.js
  packages/elements/src/icon/index.ts
  packages/elements/src/icon/utils/IconLoader.ts
  packages/elements/src/icon/utils/SpriteLoader.ts
  packages/elements/src/password-field/index.ts
  packages/elements/src/tree/elements/tree-item.ts
  packages/halo-theme/src/custom-elements/ef-icon.less
  packages/solar-theme/src/custom-elements/ef-icon.less
  packages/utils/src/loader.ts
  packages/utils/src/loader/svg-loader.ts
Due: eslint --fix, prettier --write --ignore-unknown

chore(icon): add deprecated warning for icon preload method (#760)
  packages/elements/src/flag/index.ts
  packages/elements/src/icon/index.ts
  packages/elements/src/icon/utils/IconLoader.ts
  packages/elements/src/interactive-chart/index.ts
Due: eslint --fix, prettier --write --ignore-unknown

Update documents/src/pages/elements/collapse.md
  documents/src/pages/elements/collapse.md
Due: prettier --write --ignore-unknown

fix: remove duplicate import
  documents/src/pages/elements/configuration.md
Due: prettier --write --ignore-unknown

Update documents/src/pages/elements/configuration.md
  documents/src/pages/elements/configuration.md
Due: prettier --write --ignore-unknown

ci: refactor main branch check workflow
  .github/workflows/main_branch_check.yml
Due: prettier --write --ignore-unknown

ci: disable https for iOS on pr check workflow
  .github/workflows/pr_check.yml
Due: prettier --write --ignore-unknown

ci: rename workflows
  .github/workflows/main_branch_check.yml
  .github/workflows/pr_check.yml
Due: prettier --write --ignore-unknown

refactor: move `bundle size report` to `pr check` workflow
  .github/workflows/pr_check.yml
  .github/workflows/size_report.yml
Due: prettier --write --ignore-unknown

ci: refactor test browserstack workflow
  .github/workflows/main_branch_check.yml
  .github/workflows/pr_check.yml
  .github/workflows/test_browserstack.yml
Due: prettier --write --ignore-unknown

refactor: do not extract theme on theme build
  documents/src/elements/dark.js
  documents/src/elements/light.js
  packages/halo-theme/package.json
  packages/solar-theme/package.json
Due: eslint --fix, prettier --write --ignore-unknown

chore: update lock file
  package-lock.json
Due: prettier --write --ignore-unknown

chore(icon): remove preload deprecate noti
  packages/elements/src/icon/utils/IconLoader.ts
Due: eslint --fix, prettier --write --ignore-unknown

chore(icon): preload remove js docs deprecated message
  packages/elements/src/icon/utils/IconLoader.ts
Due: eslint --fix, prettier --write --ignore-unknown

fix(password-field): remove tooltip and text ellipsis when value is overflow
  packages/elemental-theme/src/custom-elements/ef-password-field.less
  packages/elements/src/text-field/index.ts
Due: eslint --fix, prettier --write --ignore-unknown

chore(icon): remove preload deprecated notice (#768)
  packages/elements/src/icon/utils/IconLoader.ts
Due: eslint --fix, prettier --write --ignore-unknown

chore: add prettier config and packages
  .lintstagedrc.json
  .lintstagedrc.yml
  .prettierignore
  .prettierrc.json
  package-lock.json
  package.json
  packages/configurations/eslint-config.js
  packages/configurations/package.json
  packages/configurations/prettier-config.json
  packages/configurations/typescript.eslint-config.js
Due: eslint --fix, prettier --write --ignore-unknown

refactor(password-field): deregister overflow tooltip
  packages/elements/src/password-field/index.ts
  packages/elements/src/text-field/index.ts
Due: eslint --fix, prettier --write --ignore-unknown

chore: revert from specific command lerna to the whole package one
  package-lock.json
  package.json
Due: prettier --write --ignore-unknown

fix(password-field): deregister overflow tooltip and text ellipsis (#769)
  packages/elemental-theme/src/custom-elements/ef-password-field.less
  packages/elements/src/password-field/index.ts
Due: eslint --fix, prettier --write --ignore-unknown

chore: revert from specific command lerna to the whole package one (#770)
  package-lock.json
  package.json
Due: prettier --write --ignore-unknown

chore(release): publish [skip ci]
  package-lock.json
  packages/configurations/package.json
  packages/core/package.json
  packages/create-efx/package.json
  packages/demo-block/package.json
  packages/elemental-theme/package.json
  packages/elements/package.json
  packages/halo-theme/package.json
  packages/i18n/package.json
  packages/phrasebook/package.json
  packages/solar-theme/package.json
  packages/test-helpers/package.json
  packages/theme-compiler/package.json
  packages/translate/package.json
  packages/utils/package.json
Due: prettier --write --ignore-unknown

style: fix tsignore new line
  packages/core/src/utils/matches.ts
Due: eslint --fix, prettier --write --ignore-unknown

test: trim out whitespace when compare template
  packages/core/__test__/registries/ElementRegistry.test.js
  packages/translate/__test__/elf-translate-element.test.js
Due: eslint --fix, prettier --write --ignore-unknown
