Repository Refinitiv/refinitiv-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write --ignore-unknown

.lintstagedrc.json:

{
  "*.{js,ts}": "eslint --fix",
  "*.{js,mjs,ts,css,json,html,yml,md}": "prettier --write --ignore-unknown"
}

style: fix demo page formatting issues
  packages/elements/src/counter/__demo__/index.html
  packages/elements/src/overlay/__demo__/index.html
  packages/elements/src/progress-bar/__demo__/index.html
  packages/elements/src/tooltip/__demo__/index.html
Due: prettier --write --ignore-unknown

chore: remove redundant lint ignored file
  .eslintrc
Due: none

fix(chart): font doesn't update after font loaded
  packages/elements/src/chart/elements/chart.ts
Due: eslint --fix, prettier --write --ignore-unknown

docs: fix table formatting
  .eslintrc
  README.md
Due: prettier --write --ignore-unknown

test(chart): remove unused async
  packages/elements/src/chart/__test__/chart.test.js
Due: eslint --fix, prettier --write --ignore-unknown

docs: fix table formatting (#830)
  .eslintrc
  README.md
Due: prettier --write --ignore-unknown

test(chart): fix async no await
  packages/elements/src/chart/__test__/chart.test.js
Due: eslint --fix, prettier --write --ignore-unknown

test(i18n): fix async no await
  packages/i18n/__test__/memoiser.test.js
Due: eslint --fix, prettier --write --ignore-unknown

chore(release): publish [skip ci]
  documents/CHANGELOG.md
  documents/package.json
  package-lock.json
  packages/configurations/CHANGELOG.md
  packages/configurations/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/create-efx/CHANGELOG.md
  packages/create-efx/package.json
  packages/demo-block/CHANGELOG.md
  packages/demo-block/package.json
  packages/elemental-theme/CHANGELOG.md
  packages/elemental-theme/package.json
  packages/elements/CHANGELOG.md
  packages/elements/package.json
  packages/halo-theme/CHANGELOG.md
  packages/halo-theme/package.json
  packages/i18n/CHANGELOG.md
  packages/i18n/package.json
  packages/phrasebook/CHANGELOG.md
  packages/phrasebook/package.json
  packages/solar-theme/CHANGELOG.md
  packages/solar-theme/package.json
  packages/test-helpers/CHANGELOG.md
  packages/test-helpers/package.json
  packages/theme-compiler/CHANGELOG.md
  packages/theme-compiler/package.json
  packages/translate/CHANGELOG.md
  packages/translate/package.json
  packages/utils/CHANGELOG.md
  packages/utils/package.json
Due: prettier --write --ignore-unknown

chore(release): publish [skip ci]
  documents/CHANGELOG.md
  documents/package.json
  package-lock.json
  packages/configurations/CHANGELOG.md
  packages/configurations/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/create-efx/CHANGELOG.md
  packages/create-efx/package.json
  packages/demo-block/CHANGELOG.md
  packages/demo-block/package.json
  packages/elemental-theme/CHANGELOG.md
  packages/elemental-theme/package.json
  packages/elements/CHANGELOG.md
  packages/elements/package.json
  packages/halo-theme/CHANGELOG.md
  packages/halo-theme/package.json
  packages/i18n/CHANGELOG.md
  packages/i18n/package.json
  packages/phrasebook/CHANGELOG.md
  packages/phrasebook/package.json
  packages/polyfills/CHANGELOG.md
  packages/polyfills/package.json
  packages/solar-theme/CHANGELOG.md
  packages/solar-theme/package.json
  packages/test-helpers/CHANGELOG.md
  packages/test-helpers/package.json
  packages/theme-compiler/CHANGELOG.md
  packages/theme-compiler/package.json
  packages/translate/CHANGELOG.md
  packages/translate/package.json
  packages/utils/CHANGELOG.md
  packages/utils/package.json
Due: prettier --write --ignore-unknown

fix(notification,toggle): make user-select overridable
  package-lock.json
  packages/elemental-theme/src/custom-elements/ef-notification.less
  packages/elemental-theme/src/custom-elements/ef-toggle.less
  packages/elements/src/notification/elements/notification.ts
Due: eslint --fix, prettier --write --ignore-unknown

fix(notification,toggle): make user-select overridable
  packages/elemental-theme/src/custom-elements/ef-notification.less
  packages/elemental-theme/src/custom-elements/ef-toggle.less
  packages/elements/src/notification/elements/notification.ts
Due: eslint --fix, prettier --write --ignore-unknown

ci: v6 release workflow should have unique tag name
  .github/workflows/dev_release.yml
  .github/workflows/pre_release.yml
  .github/workflows/prod_release.yml
Due: prettier --write --ignore-unknown

ci: revert `preid` to be just `next`
  .github/workflows/pre_release.yml
Due: prettier --write --ignore-unknown

ci: `v6` release workflow should have unique tag name (#836)
  .github/workflows/dev_release.yml
  .github/workflows/pre_release.yml
  .github/workflows/prod_release.yml
Due: prettier --write --ignore-unknown

docs: add recommended node & npm version info
  documents/src/pages/start/quick-start.md
Due: prettier --write --ignore-unknown

docs: remove mentioning about runtime theme switching
  documents/src/index.md
Due: prettier --write --ignore-unknown

docs: use badge instead of text
  documents/src/pages/start/quick-start.md
Due: prettier --write --ignore-unknown

docs: improve badge color contrast
  documents/src/pages/start/quick-start.md
Due: prettier --write --ignore-unknown

docs(chart): remove unused letter
  packages/elements/src/chart/elements/chart.ts
Due: eslint --fix, prettier --write --ignore-unknown

docs: add recommended npm & node version info to compatibility page
  documents/src/pages/build-app/compatibility.md
Due: prettier --write --ignore-unknown

Docs/recommened-npm-node-version-v6 (#837)
  documents/src/index.md
  documents/src/pages/start/quick-start.md
Due: prettier --write --ignore-unknown

Docs: add recommended npm & node version (#838)
  documents/src/index.md
  documents/src/pages/build-app/compatibility.md
  documents/src/pages/start/quick-start.md
Due: prettier --write --ignore-unknown

refactor(chart): arrange function
  packages/elements/src/chart/elements/chart.ts
Due: eslint --fix, prettier --write --ignore-unknown

fix(datetime-picker): prevent view change when either from/to has been selected
  packages/elements/src/datetime-picker/index.ts
Due: eslint --fix, prettier --write --ignore-unknown

fix(notification,toggle): make user-select overridable (#834)
  package-lock.json
  packages/elemental-theme/src/custom-elements/ef-notification.less
  packages/elemental-theme/src/custom-elements/ef-toggle.less
  packages/elements/src/notification/elements/notification.ts
Due: eslint --fix, prettier --write --ignore-unknown

fix(notification,toggle): make user-select overridable (#835)
  packages/elemental-theme/src/custom-elements/ef-notification.less
  packages/elemental-theme/src/custom-elements/ef-toggle.less
  packages/elements/src/notification/elements/notification.ts
Due: eslint --fix, prettier --write --ignore-unknown

test(datetime-picker): add new test cases for duplex split mode
  packages/elements/src/datetime-picker/__test__/datetime-picker.view.test.js
  packages/elements/src/datetime-picker/__test__/utils.js
Due: eslint --fix, prettier --write --ignore-unknown

docs: first draft of typescript code block
  documents/src/pages/elements/button-bar.md
  documents/src/pages/elements/button.md
  documents/src/pages/elements/list.md
  documents/src/pages/elements/radio-button.md
  documents/src/pages/elements/tab-bar.md
  documents/src/pages/elements/toggle.md
Due: prettier --write --ignore-unknown
