Repository Refinitiv/refinitiv-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write --ignore-unknown

fix: flag border not set when setting through prop (#815)
  package-lock.json
  packages/elements/src/flag/__demo__/index.html
  packages/elements/src/flag/__test__/flag.test.js
  packages/elements/src/flag/index.ts
Due: eslint --fix, prettier --write --ignore-unknown

fix: flag attribute not reflecting when set through property (#822)
  packages/elements/src/flag/__demo__/index.html
  packages/elements/src/flag/__test__/flag.test.js
  packages/elements/src/flag/index.ts
Due: eslint --fix, prettier --write --ignore-unknown

chore: update `mocha` version to latest version that support `IE11` (#811)
  package-lock.json
  packages/phrasebook/__test__/locale.test.js
  packages/phrasebook/__test__/phrasebook.test.js
  packages/phrasebook/__test__/utils.js
  packages/phrasebook/package.json
  packages/test-helpers/package.json
Due: eslint --fix, prettier --write --ignore-unknown

ci: temporary disable sonarqube scan
  .github/workflows/test.yml
  .github/workflows/test_coverage.yml
Due: prettier --write --ignore-unknown

chore: update package-lock
  package-lock.json
Due: prettier --write --ignore-unknown

chore: temporarily disable SonarCloud scanning
  .github/workflows/main_branch_check.yml
  .github/workflows/pr_check.yml
Due: prettier --write --ignore-unknown

ci: use if false to disable scan
  .github/workflows/test.yml
  .github/workflows/test_coverage.yml
Due: prettier --write --ignore-unknown

chore: temporarily disable SonarCloud scanning (#824)
  .github/workflows/main_branch_check.yml
  .github/workflows/pr_check.yml
Due: prettier --write --ignore-unknown

revert: package-lock
  package-lock.json
Due: prettier --write --ignore-unknown

ci: remove `--ignore-scripts` from `npm ci`
  .github/actions/checkout-install-and-build/action.yml
  .github/workflows/blackduck_scan.yml
  .github/workflows/main_branch_check.yml
  .github/workflows/pr_check.yml
  .github/workflows/pre_release.yml
  .github/workflows/prod_release.yml
  .github/workflows/test_browserstack.yml
  .github/workflows/test_nightly.yml
Due: prettier --write --ignore-unknown

ci: temporary disable sonarcloud scan (#823)
  .github/workflows/test.yml
  .github/workflows/test_coverage.yml
Due: prettier --write --ignore-unknown

feat(docs): add dropdown to switch versions
  documents/src/menu.md
Due: prettier --write --ignore-unknown

feat(docs): load workspace graphic locally
  documents/resources/images/refinitiv-workspace.svg
  documents/src/index.md
Due: prettier --write --ignore-unknown

ci: test pr labeler
  .github/labeler.yml
  .github/workflows/labeler.yml
Due: prettier --write --ignore-unknown

ci: add a11y label
  .github/labeler.yml
Due: prettier --write --ignore-unknown

ci: adding github token to action
  .github/workflows/labeler.yml
Due: prettier --write --ignore-unknown

ci: update action config
  .github/workflows/labeler.yml
Due: prettier --write --ignore-unknown

chore(docs): add workaround for loading v6 docs
  documents/src/menu.md
Due: prettier --write --ignore-unknown

test: upgrade to iPhone Pro on BrowserStack
  browsers.config.mjs
Due: prettier --write --ignore-unknown

test: remove workaround import module issue
  web-test-runner.config.mjs
Due: prettier --write --ignore-unknown

chore: replace Refinitiv with LSEG
  LICENSE.md
  README.md
  packages/elements/README.md
  packages/elements/src/dialog/__demo__/index.html
  packages/halo-theme/LICENSE
  packages/halo-theme/README.md
  packages/halo-theme/package.json
  packages/solar-theme/LICENSE
  packages/solar-theme/README.md
Due: prettier --write --ignore-unknown

docs: update wording to use lseg instead of refinitiv
  CODE_OF_CONDUCT.md
  LICENSE.md
  README.md
  packages/configurations/LICENSE
  packages/core/LICENSE
  packages/create-efx/LICENSE
  packages/create-efx/template/LICENSE
  packages/demo-block/LICENSE
  packages/elemental-theme/LICENSE
  packages/elements/LICENSE
  packages/elements/README.md
  packages/elements/src/dialog/__demo__/index.html
  packages/halo-theme/LICENSE
  packages/halo-theme/README.md
  packages/halo-theme/package.json
  packages/i18n/LICENSE
  packages/phrasebook/LICENSE
  packages/polyfills/LICENSE
  packages/solar-theme/README.md
  packages/test-helpers/LICENSE
  packages/theme-compiler/LICENSE
  packages/translate/LICENSE
  packages/utils/LICENSE
Due: prettier --write --ignore-unknown

docs: update support email
  CODE_OF_CONDUCT.md
Due: prettier --write --ignore-unknown

docs: update wording to use lseg instead of refinitiv
  documents/src/index.md
  documents/src/menu.md
Due: prettier --write --ignore-unknown

chore: update copyright year
  packages/configurations/LICENSE
  packages/core/LICENSE
  packages/create-efx/LICENSE
  packages/create-efx/template/LICENSE
  packages/demo-block/LICENSE
  packages/elemental-theme/LICENSE
  packages/elements/LICENSE
  packages/halo-theme/LICENSE
  packages/i18n/LICENSE
  packages/phrasebook/LICENSE
  packages/solar-theme/LICENSE
  packages/test-helpers/LICENSE
  packages/theme-compiler/LICENSE
  packages/translate/LICENSE
  packages/utils/LICENSE
Due: none

docs: update wording to use lseg instead of refinitiv
  documents/resources/images/lseg-workspace.svg
  documents/src/index.md
Due: prettier --write --ignore-unknown

docs: rename svg file
  documents/resources/images/lseg-workspace.svg
  documents/src/index.md
Due: prettier --write --ignore-unknown

[v7] feat(docs): add version dropdown (#827)
  documents/resources/images/lseg-workspace.svg
  documents/src/index.md
  documents/src/menu.md
Due: prettier --write --ignore-unknown

docs: update EF url
  packages/halo-theme/README.md
  packages/solar-theme/README.md
Due: prettier --write --ignore-unknown

Chore/lseg-rebrand-v7 (#829)
  CODE_OF_CONDUCT.md
  LICENSE.md
  README.md
  packages/configurations/LICENSE
  packages/core/LICENSE
  packages/create-efx/LICENSE
  packages/create-efx/template/LICENSE
  packages/demo-block/LICENSE
  packages/elemental-theme/LICENSE
  packages/elements/LICENSE
  packages/elements/README.md
  packages/elements/src/dialog/__demo__/index.html
  packages/halo-theme/LICENSE
  packages/halo-theme/README.md
  packages/halo-theme/package.json
  packages/i18n/LICENSE
  packages/phrasebook/LICENSE
  packages/solar-theme/LICENSE
  packages/solar-theme/README.md
  packages/test-helpers/LICENSE
  packages/theme-compiler/LICENSE
  packages/translate/LICENSE
  packages/utils/LICENSE
Due: prettier --write --ignore-unknown

docs: resolve conflict
  packages/halo-theme/LICENSE
Due: none

Update packages/halo-theme/README.md
  packages/halo-theme/README.md
Due: prettier --write --ignore-unknown

Update packages/halo-theme/package.json
  packages/halo-theme/package.json
Due: prettier --write --ignore-unknown

style: move comment to be above `if`
  packages/core/src/directives/template-map.ts
Due: eslint --fix, prettier --write --ignore-unknown

chore: remove scripts from lint ignore list
  .eslintrc
Due: none

Path conditions:
  eslint --fix: any of: *.{js,ts}
  prettier --write --ignore-unknown: any of: *.{js,mjs,ts,css,json,html,yml,md}
