Repository Refinitiv/refinitiv-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write --ignore-unknown

fix(number-field): fix invalid regex
  packages/elements/src/number-field/index.ts
Due: eslint --fix, prettier --write --ignore-unknown

test(number-field): update snapshot
  packages/elements/src/number-field/__snapshots__/NumberField.md
Due: prettier --write --ignore-unknown

chore: update lerna version to 6
  package-lock.json
  package.json
Due: prettier --write --ignore-unknown

chore: update lerna version to 6 (#773)
  package-lock.json
  package.json
Due: prettier --write --ignore-unknown

chore(docs): update redirect to v7 sandbox
  documents/src/_redirects
Due: none

chore(docs): update redirect to v7 sandbox (#774)
  documents/src/_redirects
Due: none

docs: add reportValidity section
  documents/src/pages/elements/number-field.md
Due: prettier --write --ignore-unknown

docs: revise sentence
  documents/src/pages/elements/number-field.md
Due: prettier --write --ignore-unknown

docs: add reportValidity section (#775)
  documents/src/pages/elements/number-field.md
Due: prettier --write --ignore-unknown

chore(release): publish [skip ci]
  documents/CHANGELOG.md
  documents/package.json
  package-lock.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/create-efx/CHANGELOG.md
  packages/create-efx/package.json
  packages/demo-block/CHANGELOG.md
  packages/demo-block/package.json
  packages/elemental-theme/CHANGELOG.md
  packages/elemental-theme/package.json
  packages/elements/CHANGELOG.md
  packages/elements/package.json
  packages/halo-theme/CHANGELOG.md
  packages/halo-theme/package.json
  packages/i18n/CHANGELOG.md
  packages/i18n/package.json
  packages/phrasebook/CHANGELOG.md
  packages/phrasebook/package.json
  packages/solar-theme/CHANGELOG.md
  packages/solar-theme/package.json
  packages/test-helpers/CHANGELOG.md
  packages/test-helpers/package.json
  packages/translate/CHANGELOG.md
  packages/translate/package.json
  packages/utils/CHANGELOG.md
  packages/utils/package.json
Due: prettier --write --ignore-unknown

chore(text-field): update-text-field-demo-show-error-state
  packages/elements/src/text-field/__demo__/index.html
Due: prettier --write --ignore-unknown

fix(select): change role to be combobox
  packages/elements/src/select/index.ts
Due: eslint --fix, prettier --write --ignore-unknown

docs(flag,icon): remove unused attribute in code block
  documents/src/pages/elements/flag.md
  documents/src/pages/elements/icon.md
Due: prettier --write --ignore-unknown

docs(flag,icon): remove unused attribute in code block (#778)
  documents/src/pages/elements/flag.md
  documents/src/pages/elements/icon.md
Due: prettier --write --ignore-unknown

chore(text-field): update demo page error state
  packages/elements/src/text-field/__demo__/index.html
Due: prettier --write --ignore-unknown

fix(utils): remove local cache utils
  documents/src/pages/utils/cache.md
  packages/utils/src/cache.ts
  packages/utils/src/cache/constants.ts
  packages/utils/src/cache/interfaces/CacheItem.ts
  packages/utils/src/cache/interfaces/CacheMap.ts
  packages/utils/src/cache/interfaces/CacheStorage.ts
  packages/utils/src/cache/local-cache.ts
  packages/utils/src/cache/storages/indexeddb.ts
  packages/utils/src/cache/storages/localstorage.ts
Due: eslint --fix, prettier --write --ignore-unknown

docs: remove unnecessary import statements
  documents/src/pages/elements/chart.md
Due: prettier --write --ignore-unknown

docs(chart): add 3 live examples removed due to skypack issue
  documents/src/pages/elements/chart.md
Due: prettier --write --ignore-unknown

refactor(configuration): update import type syntax to support old ts
  packages/elements/src/configuration/elements/configuration.ts
  packages/elements/src/icon/index.ts
Due: eslint --fix, prettier --write --ignore-unknown

fix(number-field): fix number-field pattern completely
  packages/elements/src/number-field/index.ts
Due: eslint --fix, prettier --write --ignore-unknown

refactor(configuration): update import type syntax to support old ts (#783)
  packages/elements/src/configuration/elements/configuration.ts
  packages/elements/src/icon/index.ts
Due: eslint --fix, prettier --write --ignore-unknown

chore: fix theme extractor compatibility with v7
  scripts/release/theme-extractor.mjs
Due: prettier --write --ignore-unknown

test(number-field): update snapshot due to fix regex
  packages/elements/src/number-field/__snapshots__/NumberField.md
Due: prettier --write --ignore-unknown

fix(number-field): fix invalid regex (#772)
  packages/elements/src/number-field/__snapshots__/NumberField.md
  packages/elements/src/number-field/index.ts
Due: eslint --fix, prettier --write --ignore-unknown

chore(text-field, password-field, email-field): show demo error state
  packages/elements/src/email-field/__demo__/index.html
  packages/elements/src/password-field/__demo__/index.html
  packages/elements/src/text-field/__demo__/index.html
Due: prettier --write --ignore-unknown

Security testing. please ignore.... (jmmtae)
  documents/package.json
  package.json
  packages/configurations/package.json
  packages/core/package.json
  packages/create-efx/package.json
  packages/demo-block/package.json
  packages/elemental-theme/package.json
  packages/elements/package.json
  packages/halo-theme/package.json
  packages/i18n/package.json
  packages/phrasebook/package.json
  packages/polyfills/package.json
  packages/solar-theme/package.json
  packages/test-helpers/package.json
  packages/theme-compiler/package.json
  packages/translate/package.json
  packages/utils/package.json
Due: prettier --write --ignore-unknown

docs(chart): format markdown
  documents/src/pages/elements/chart.md
Due: prettier --write --ignore-unknown

docs(chart): return back live examples (#782)
  documents/src/pages/elements/chart.md
Due: prettier --write --ignore-unknown

docs(number-field): show error state and update validate section
  documents/src/pages/elements/number-field.md
Due: prettier --write --ignore-unknown

fix(select): change role to be combobox (#777)
  packages/elements/src/select/index.ts
Due: eslint --fix, prettier --write --ignore-unknown

chore(text-field, password-field, email-field): typo & syntax update
  packages/elements/src/email-field/__demo__/index.html
  packages/elements/src/password-field/__demo__/index.html
  packages/elements/src/text-field/__demo__/index.html
Due: prettier --write --ignore-unknown

refactor(utils): update idb from package.json
  package-lock.json
  packages/utils/package.json
Due: prettier --write --ignore-unknown

chore(text-field, password-field, email-field): update demo show error state (#776)
  packages/elements/src/email-field/__demo__/index.html
  packages/elements/src/password-field/__demo__/index.html
  packages/elements/src/text-field/__demo__/index.html
Due: prettier --write --ignore-unknown

chore(utils): remove cache export from package.json
  packages/utils/package.json
Due: prettier --write --ignore-unknown

refactor(utils): remove local cache utils (#781)
  documents/src/pages/utils/cache.md
  package-lock.json
  packages/utils/package.json
  packages/utils/src/cache.ts
  packages/utils/src/cache/constants.ts
  packages/utils/src/cache/interfaces/CacheItem.ts
  packages/utils/src/cache/interfaces/CacheMap.ts
  packages/utils/src/cache/interfaces/CacheStorage.ts
  packages/utils/src/cache/local-cache.ts
  packages/utils/src/cache/storages/indexeddb.ts
  packages/utils/src/cache/storages/localstorage.ts
Due: eslint --fix, prettier --write --ignore-unknown

ci: add reusable test workflows
  .github/actions/run-test/action.yml
  .github/workflows/test_all_browsers.yml
  .github/workflows/test_browser_versions.yml
  .github/workflows/test_nightly.yml
  .github/workflows/test_nightly_v7.yml
Due: prettier --write --ignore-unknown

ci: add workflow option run unit test before release
  .github/workflows/pre_release.yml
  .github/workflows/prod_release.yml
  .github/workflows/test_all_browsers.yml
  .github/workflows/test_browser_versions.yml
Due: prettier --write --ignore-unknown

Path conditions:
  eslint --fix: any of: *.{js,ts}
  prettier --write --ignore-unknown: any of: *.{js,mjs,ts,css,json,html,yml,md}
