Repository Refinitiv/refinitiv-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write --ignore-unknown

.lintstagedrc.json:

{
  "*.{js,ts}": "eslint --fix",
  "*.{js,mjs,ts,css,json,html,yml,md}": "prettier --write --ignore-unknown"
}

chore: update `mocha` version to latest version that support `IE11`
  package-lock.json
  packages/phrasebook/package.json
  packages/test-helpers/package.json
Due: prettier --write --ignore-unknown

chore: bring back mocha types
  package-lock.json
  packages/test-helpers/package.json
Due: prettier --write --ignore-unknown

fix(interactive-chart): export chart interface
  packages/elements/src/interactive-chart/helpers/types.ts
  packages/elements/src/interactive-chart/index.ts
Due: eslint --fix, prettier --write --ignore-unknown

docs: rebrand to lseg
  documents/resources/images/ef-logo.svg
  documents/src/index.md
  documents/src/pages/accessibility.md
  documents/src/pages/elements/efx-grid.md
  documents/src/pages/elements/slider.md
  documents/src/pages/start/quick-start.md
  documents/src/pages/start/styling.md
  documents/src/pages/styles/typography.md
Due: prettier --write --ignore-unknown

chore: making phrasebook an esm package
  package-lock.json
  packages/phrasebook/__test__/locale.test.js
  packages/phrasebook/__test__/phrasebook.test.js
  packages/phrasebook/__test__/utils.js
  packages/phrasebook/package.json
  packages/test-helpers/package.json
Due: eslint --fix, prettier --write --ignore-unknown

refactor(configuration): update import type syntax to support old ts (#808)
  packages/elements/src/icon/index.ts
Due: eslint --fix, prettier --write --ignore-unknown

chore: remove `esm` as it is natively supported by Node 16
  package-lock.json
  packages/phrasebook/package.json
Due: prettier --write --ignore-unknown

fix(interactive-chart): import extension
  packages/elements/src/interactive-chart/index.ts
Due: eslint --fix, prettier --write --ignore-unknown

fix(interactive-chart): remove export private func type
  packages/elements/src/interactive-chart/index.ts
Due: eslint --fix, prettier --write --ignore-unknown

chore: update package-lock
  package-lock.json
Due: prettier --write --ignore-unknown

style: avoid using long template literals
  packages/elements/src/calendar/index.ts
Due: eslint --fix, prettier --write --ignore-unknown

fix: flag border not present when using `flag` property
  packages/elements/src/flag/__demo__/index.html
  packages/elements/src/flag/__test__/flag.test.js
  packages/elements/src/flag/index.ts
Due: eslint --fix, prettier --write --ignore-unknown

fix(interactive-chart): export chart interface (#809)
  packages/elements/src/interactive-chart/helpers/types.ts
  packages/elements/src/interactive-chart/index.ts
Due: eslint --fix, prettier --write --ignore-unknown

fix(interactive-chart): export chart interface (#812)
  packages/elements/src/interactive-chart/helpers/types.ts
  packages/elements/src/interactive-chart/index.ts
Due: eslint --fix, prettier --write --ignore-unknown

refactor(number-field): remove number pattern
  packages/elements/src/number-field/index.ts
Due: eslint --fix, prettier --write --ignore-unknown

test(number-field): remove ignore attribute pattern
  packages/elements/src/number-field/__test__/number-field.test.js
Due: eslint --fix, prettier --write --ignore-unknown

chore: upgrade lit 2.7.5 to 2.7.6
  package-lock.json
Due: prettier --write --ignore-unknown

chore: setup prettier
  .lintstagedrc.json
  .lintstagedrc.yml
  .prettierignore
  .prettierrc.json
  package-lock.json
  package.json
  packages/configurations/eslint-config.js
  packages/configurations/package.json
  packages/configurations/prettier-config.json
Due: eslint --fix, prettier --write --ignore-unknown

fix(chart): wrong type on onRenderLabel
  packages/elements/src/chart/plugins/doughnut-center-label.ts
Due: eslint --fix, prettier --write --ignore-unknown

docs: optimize image/svgs
  documents/resources/images/amber-tick.png
  documents/resources/images/browserstack-darkmode.svg
  documents/resources/images/browserstack-lightmode.svg
  documents/resources/images/chrome.png
  documents/resources/images/core.changes.png
  documents/resources/images/ef-logo.svg
  documents/resources/images/firefox.png
  documents/resources/images/green-tick.png
  documents/resources/images/home.components.png
  documents/resources/images/safari.png
Due: none

test: trim whitespaces
  packages/core/__test__/registries/ElementRegistry.test.js
  packages/translate/__test__/elf-translate-element.test.js
Due: eslint --fix, prettier --write --ignore-unknown

refactor(number-field): remove number pattern (#817)
  packages/elements/src/number-field/__test__/number-field.test.js
  packages/elements/src/number-field/index.ts
Due: eslint --fix, prettier --write --ignore-unknown

fix(chart): wrong type on onRenderLabel (#820)
  packages/elements/src/chart/plugins/doughnut-center-label.ts
Due: eslint --fix, prettier --write --ignore-unknown

Update packages/elements/src/flag/__test__/flag.test.js
  packages/elements/src/flag/__test__/flag.test.js
Due: eslint --fix, prettier --write --ignore-unknown

refactor(number-field): remove number pattern
  packages/elements/src/number-field/__snapshots__/NumberField.md
  packages/elements/src/number-field/index.ts
Due: eslint --fix, prettier --write --ignore-unknown

refactor(number-field): remove number pattern (#821)
  packages/elements/src/number-field/__snapshots__/NumberField.md
  packages/elements/src/number-field/index.ts
Due: eslint --fix, prettier --write --ignore-unknown

chore: update lock file
  package-lock.json
Due: prettier --write --ignore-unknown

refactor: use async/await in dynamic import
  packages/phrasebook/__test__/locale.test.js
Due: eslint --fix, prettier --write --ignore-unknown

fix: flag attribute not reflecting when set through property
  packages/elements/src/flag/__demo__/index.html
  packages/elements/src/flag/__test__/flag.test.js
  packages/elements/src/flag/index.ts
Due: eslint --fix, prettier --write --ignore-unknown
