Repository Refinitiv/refinitiv-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write --ignore-unknown

fix(tree-select): improve code
  packages/elements/src/tree-select/index.ts
  packages/elements/src/tree/managers/tree-manager.ts
Due: eslint --fix, prettier --write --ignore-unknown

test(overlay): add skip Android
  packages/elements/src/overlay/__test__/overlay-position-target.test.js
Due: eslint --fix, prettier --write --ignore-unknown

test: add isAndroid util
  packages/test-helpers/src/test-helpers.ts
Due: eslint --fix, prettier --write --ignore-unknown

fix(tree-select): fix item interface doesn't sync with values (#1208)
  package-lock.json
  packages/elements/src/tree-select/index.ts
Due: eslint --fix, prettier --write --ignore-unknown

Update packages/elements/src/overlay/__test__/overlay-position-target.test.js
  packages/elements/src/overlay/__test__/overlay-position-target.test.js
Due: eslint --fix, prettier --write --ignore-unknown

test(overlay): skip test case in android (#1209)
  packages/elements/src/overlay/__test__/overlay-position-target.test.js
  packages/test-helpers/src/test-helpers.ts
Due: eslint --fix, prettier --write --ignore-unknown

fix(tree-select): fix item interface doesn't sync with values (#1206)
  package-lock.json
  packages/elements/src/tree-select/index.ts
Due: eslint --fix, prettier --write --ignore-unknown

chore(release): publish [skip ci]
  documents/CHANGELOG.md
  documents/package.json
  package-lock.json
  packages/elements/CHANGELOG.md
  packages/elements/package.json
Due: prettier --write --ignore-unknown

chore(release): publish [skip ci]
  documents/CHANGELOG.md
  documents/package.json
  package-lock.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/demo-block/CHANGELOG.md
  packages/demo-block/package.json
  packages/elements/CHANGELOG.md
  packages/elements/package.json
  packages/i18n/CHANGELOG.md
  packages/i18n/package.json
  packages/test-helpers/CHANGELOG.md
  packages/test-helpers/package.json
  packages/translate/CHANGELOG.md
  packages/translate/package.json
Due: prettier --write --ignore-unknown

chore: patch vulnerability package in dependencies
  package-lock.json
Due: prettier --write --ignore-unknown

chore: patch vulnerability package in dependencies (#1210)
  package-lock.json
Due: prettier --write --ignore-unknown

chore: patch vulnerability package in dependencies
  package-lock.json
  package.json
Due: prettier --write --ignore-unknown

test(overlay): test pipeline
  packages/elements/src/overlay/elements/overlay.ts
Due: eslint --fix, prettier --write --ignore-unknown

chore: patch vulnerability package in dependencies (#1211)
  package-lock.json
  package.json
Due: prettier --write --ignore-unknown

chore(ci): deprecate solar-theme only when it's not already deprecated
  .github/workflows/pre_release.yml
  .github/workflows/prod_release.yml
Due: prettier --write --ignore-unknown

chore(ci): deprecate solar-theme only when it's not already deprecated (#1214)
  .github/workflows/pre_release.yml
  .github/workflows/prod_release.yml
Due: prettier --write --ignore-unknown

chore(ci): deprecate solar-theme only when it's not already deprecated (#1215)
  .github/workflows/pre_release.yml
  .github/workflows/prod_release.yml
Due: prettier --write --ignore-unknown

fix(tree, tree-select, combo-box): apply filter when it's updated
  packages/elements/src/combo-box/__demo__/index.html
  packages/elements/src/combo-box/index.ts
  packages/elements/src/tree-select/__demo__/index.html
  packages/elements/src/tree/__demo__/index.html
  packages/elements/src/tree/elements/tree.ts
Due: eslint --fix, prettier --write --ignore-unknown

test(tree, tree-select, combo-box): add unit test for filter update
  packages/elements/src/combo-box/__test__/combo-box.filter.test.js
  packages/elements/src/tree-select/__test__/tree-select.filter.test.js
  packages/elements/src/tree/__test__/tree.test.js
Due: eslint --fix, prettier --write --ignore-unknown

refactor(tree): scope a radio group to radio button elements only
  packages/elements/src/tree/__demo__/index.html
Due: prettier --write --ignore-unknown

refactor(combo-box): fix comment
  packages/elements/src/combo-box/index.ts
Due: eslint --fix, prettier --write --ignore-unknown

fix(tree, tree-select, combo-box): apply filter when it's updated
  packages/elements/src/combo-box/__demo__/index.html
  packages/elements/src/combo-box/__test__/combo-box.filter.test.js
  packages/elements/src/combo-box/index.ts
  packages/elements/src/tree-select/__demo__/index.html
  packages/elements/src/tree-select/__test__/tree-select.filter.test.js
  packages/elements/src/tree/__demo__/index.html
  packages/elements/src/tree/__test__/tree.test.js
  packages/elements/src/tree/elements/tree.ts
Due: eslint --fix, prettier --write --ignore-unknown

fix(tree, tree-select, combo-box): apply filter when it's updated (#1217)
  packages/elements/src/combo-box/__demo__/index.html
  packages/elements/src/combo-box/__test__/combo-box.filter.test.js
  packages/elements/src/combo-box/index.ts
  packages/elements/src/tree-select/__demo__/index.html
  packages/elements/src/tree-select/__test__/tree-select.filter.test.js
  packages/elements/src/tree/__demo__/index.html
  packages/elements/src/tree/__test__/tree.test.js
  packages/elements/src/tree/elements/tree.ts
Due: eslint --fix, prettier --write --ignore-unknown

fix(tree, tree-select, combo-box): apply filter when it's updated (#1218)
  packages/elements/src/combo-box/__demo__/index.html
  packages/elements/src/combo-box/__test__/combo-box.filter.test.js
  packages/elements/src/combo-box/index.ts
  packages/elements/src/tree-select/__demo__/index.html
  packages/elements/src/tree-select/__test__/tree-select.filter.test.js
  packages/elements/src/tree/__demo__/index.html
  packages/elements/src/tree/__test__/tree.test.js
  packages/elements/src/tree/elements/tree.ts
Due: eslint --fix, prettier --write --ignore-unknown

chore: patch vulnerability in vite
  package-lock.json
  package.json
Due: prettier --write --ignore-unknown

chore: bump test platform to iOS 18
  browsers.config.js
  packages/elements/src/tree-select/__test__/tree-select.filter.test.js
Due: eslint --fix, prettier --write --ignore-unknown

chore: bump test platform to macOS 15
  browsers.config.js
Due: eslint --fix, prettier --write --ignore-unknown

chore: patch vulnerability in vite (#1220)
  package-lock.json
  package.json
Due: prettier --write --ignore-unknown

chore: bump test platform to Safari/iOS 16 - 18 (#1221)
  browsers.config.js
  packages/elements/src/tree-select/__test__/tree-select.filter.test.js
Due: eslint --fix, prettier --write --ignore-unknown

test: wait for additional frame
  packages/elements/src/overlay/__test__/mocks/helper.js
Due: eslint --fix, prettier --write --ignore-unknown

test: add timeout to rule out timing issue
  packages/elements/src/overlay/__test__/mocks/helper.js
Due: eslint --fix, prettier --write --ignore-unknown

chore: add ds-theme to gitignore
  .gitignore
Due: none

Update typo tag from live-example of documentation email-field.md file
  documents/src/pages/elements/email-field.md
Due: prettier --write --ignore-unknown

docs: fix element closing tag in live example of email field docs
  documents/src/pages/elements/email-field.md
Due: prettier --write --ignore-unknown

Path conditions:
  eslint --fix: any of: *.{js,ts}
  prettier --write --ignore-unknown: any of: *.{js,mjs,ts,css,less,json,html,yml,md}
