Repository Refinitiv/refinitiv-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write --ignore-unknown

chore: remove type of change from PR template (#933)
  .github/pull_request_template.md
Due: prettier --write --ignore-unknown

docs(calendar): refactor example code
  documents/src/pages/elements/calendar.md
Due: prettier --write --ignore-unknown

feat(slider): change custom input to native input
  packages/core/src/elements/BasicElement.ts
  packages/elements/src/number-field/index.ts
  packages/elements/src/slider/__demo__/index.html
  packages/elements/src/slider/__test__/slider.event.test.js
  packages/elements/src/slider/index.ts
Due: eslint --fix, prettier --write --ignore-unknown

feat(calendar): add new cell model type as public API and its conversion util
  packages/elements/src/calendar/index.ts
  packages/elements/src/calendar/types.ts
  packages/elements/src/calendar/utils.ts
Due: eslint --fix, prettier --write --ignore-unknown

docs(calendar): add js/ts code example
  documents/src/pages/elements/calendar.md
  packages/elements/src/calendar/types.ts
  packages/elements/src/calendar/utils.ts
Due: eslint --fix, prettier --write --ignore-unknown

feat(core): add reportValidity method to FormField element
  packages/core/__test__/elements/FormFieldElement.test.js
  packages/core/src/elements/FormFieldElement.ts
Due: eslint --fix, prettier --write --ignore-unknown

feat(text-field): change validation pattern to consistent with number field element
  packages/elements/src/text-field/__demo__/index.html
  packages/elements/src/text-field/__test__/text-field.test.js
  packages/elements/src/text-field/__test__/text-field.validation.test.js
  packages/elements/src/text-field/index.ts
Due: eslint --fix, prettier --write --ignore-unknown

feat(number-field): fired error change event on input
  packages/elements/src/number-field/__test__/number-field.test.js
  packages/elements/src/number-field/index.ts
Due: eslint --fix, prettier --write --ignore-unknown

feat(datetime-field, email-field): using validate method from base class
  packages/elements/src/datetime-field/index.ts
  packages/elements/src/email-field/__demo__/index.html
  packages/elements/src/email-field/index.ts
  packages/elements/src/password-field/__demo__/index.html
Due: eslint --fix, prettier --write --ignore-unknown

fix(slider): wrong update value
  packages/elements/src/slider/index.ts
Due: eslint --fix, prettier --write --ignore-unknown

chore(release): publish [skip ci]
  documents/CHANGELOG.md
  documents/package.json
  package-lock.json
  packages/demo-block/CHANGELOG.md
  packages/demo-block/package.json
  packages/elemental-theme/CHANGELOG.md
  packages/elemental-theme/package.json
  packages/elements/CHANGELOG.md
  packages/elements/package.json
  packages/halo-theme/CHANGELOG.md
  packages/halo-theme/package.json
  packages/solar-theme/CHANGELOG.md
  packages/solar-theme/package.json
Due: prettier --write --ignore-unknown

chore: prevent flash of slot content in demo page
  packages/elements/src/calendar/__demo__/index.html
Due: prettier --write --ignore-unknown

docs(calendar): improve interactive example
  documents/src/pages/elements/calendar.md
Due: prettier --write --ignore-unknown

docs(calendar): revise before-cell-event explanation
  documents/src/pages/elements/calendar.md
Due: prettier --write --ignore-unknown

chore: update eslint import extensions to ignore package imports
  package-lock.json
  packages/configurations/package.json
  packages/configurations/typescript.eslint-config.js
Due: eslint --fix, prettier --write --ignore-unknown

chore: move import/extension rule to eslint-config
  package-lock.json
  packages/configurations/eslint-config.js
  packages/configurations/typescript.eslint-config.js
Due: eslint --fix, prettier --write --ignore-unknown

chore: update eslint import extensions to ignore package imports
  package-lock.json
  packages/configurations/eslint-config.js
  packages/configurations/package.json
  packages/configurations/typescript.eslint-config.js
Due: eslint --fix, prettier --write --ignore-unknown

chore: update eslint import extensions to ignore package imports (#935)
  package-lock.json
  packages/configurations/eslint-config.js
  packages/configurations/package.json
  packages/configurations/typescript.eslint-config.js
Due: eslint --fix, prettier --write --ignore-unknown

chore: update eslint import extensions to ignore package imports (#936)
  package-lock.json
  packages/configurations/eslint-config.js
  packages/configurations/package.json
  packages/configurations/typescript.eslint-config.js
Due: eslint --fix, prettier --write --ignore-unknown

docs: update validation pattern of all field elements
  documents/src/pages/elements/email-field.md
  documents/src/pages/elements/number-field.md
  documents/src/pages/elements/password-field.md
  documents/src/pages/elements/search-field.md
  documents/src/pages/elements/text-field.md
Due: prettier --write --ignore-unknown

fix(slider): incorrect updating to value
  packages/elements/src/slider/__test__/slider.number-field.test.js
  packages/elements/src/slider/index.ts
Due: eslint --fix, prettier --write --ignore-unknown

docs(slider): update docs api for input event
  packages/elements/src/slider/index.ts
Due: eslint --fix, prettier --write --ignore-unknown

docs(calendar): update custom cell docs
  documents/src/pages/elements/calendar.md
Due: prettier --write --ignore-unknown

chore: use css only for flash of content handling
  packages/elements/src/calendar/__demo__/index.html
Due: prettier --write --ignore-unknown

chore: update branding from Refinitiv to LSEG
  documents/src/pages/accessibility.md
  documents/src/pages/elements/slider.md
  packages/elements/README.md
  packages/elements/src/dialog/__demo__/index.html
  packages/halo-theme/README.md
  packages/halo-theme/package.json
  packages/solar-theme/README.md
Due: prettier --write --ignore-unknown

chore: update branding from Refinitiv to LSEG
  documents/src/pages/accessibility.md
Due: prettier --write --ignore-unknown

docs(calendar): revise doc
  documents/src/pages/elements/calendar.md
Due: prettier --write --ignore-unknown

docs(calendar): update custom cell section name
  documents/src/pages/elements/calendar.md
Due: prettier --write --ignore-unknown

chore: update branding from Refinitiv to LSEG
  CONTRIBUTING.md
  README.md
Due: prettier --write --ignore-unknown

docs(calendar): revise wording
  documents/src/pages/elements/calendar.md
Due: prettier --write --ignore-unknown

fix(slider): number field not revalidate when error state changes
  packages/elements/src/slider/index.ts
Due: eslint --fix, prettier --write --ignore-unknown

chore: improve calendar demo page
  packages/elements/src/calendar/__demo__/index.html
Due: prettier --write --ignore-unknown

chore: fix incorrect brand replacement
  packages/elements/src/dialog/__demo__/index.html
Due: prettier --write --ignore-unknown

chore: update branding
  packages/halo-theme/LICENSE
Due: none

fix(phrasebook): correct links to element doc
  packages/phrasebook/src/locale/de/color-dialog.ts
  packages/phrasebook/src/locale/de/pagination.ts
  packages/phrasebook/src/locale/de/tree-select.ts
  packages/phrasebook/src/locale/en/color-dialog.ts
  packages/phrasebook/src/locale/en/pagination.ts
  packages/phrasebook/src/locale/en/tree-select.ts
  packages/phrasebook/src/locale/ja/color-dialog.ts
  packages/phrasebook/src/locale/ja/pagination.ts
  packages/phrasebook/src/locale/ja/tree-select.ts
  packages/phrasebook/src/locale/zh-hant/color-dialog.ts
  packages/phrasebook/src/locale/zh-hant/pagination.ts
  packages/phrasebook/src/locale/zh-hant/tree-select.ts
  packages/phrasebook/src/locale/zh/color-dialog.ts
  packages/phrasebook/src/locale/zh/pagination.ts
  packages/phrasebook/src/locale/zh/tree-select.ts
Due: eslint --fix, prettier --write --ignore-unknown

Path conditions:
  eslint --fix: any of: *.{js,ts}
  prettier --write --ignore-unknown: any of: *.{js,mjs,ts,css,less,json,html,yml,md}
