Repository Refinitiv/refinitiv-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write --ignore-unknown

chore: update SonarCloud coverage exclusion
  sonar-project.properties
Due: none

fix(tooltip): handle body removal (#1131)
  package-lock.json
  packages/demo-block/src/demo-block.ts
  packages/elements/src/overlay/managers/interaction-lock-manager.ts
  packages/elements/src/overlay/managers/viewport-manager.ts
  packages/elements/src/tooltip/elements/tooltip-element.ts
  packages/elements/src/tooltip/managers/tooltip-manager.ts
  sonar-project.properties
Due: eslint --fix, prettier --write --ignore-unknown

refactor(tree): filter function accepts TreeManager instead of CollectionComposer
  packages/elements/src/tree/elements/tree.ts
  packages/elements/src/tree/helpers/filter.ts
  packages/elements/src/tree/helpers/types.ts
  packages/elements/src/tree/managers/tree-manager.ts
Due: eslint --fix, prettier --write --ignore-unknown

refactor(combo-box, tree-select): filter function accepts both TreeManager and CollectionComposer
  packages/elements/src/combo-box/helpers/filter.ts
  packages/elements/src/combo-box/helpers/types.ts
  packages/elements/src/tree-select/index.ts
Due: eslint --fix, prettier --write --ignore-unknown

docs(combo-box): revert change of filter section
  documents/src/pages/elements/combo-box.md
Due: prettier --write --ignore-unknown

docs: add tree-manager page
  documents/src/pages/utils/tree-manager.md
  scripts/release/utils.injector.js
Due: eslint --fix, prettier --write --ignore-unknown

refactor: improve default filter function factory naming
  packages/elements/src/combo-box/helpers/filter.ts
  packages/elements/src/combo-box/index.ts
  packages/elements/src/tree/elements/tree.ts
  packages/elements/src/tree/helpers/filter.ts
Due: eslint --fix, prettier --write --ignore-unknown

chore: update target test version of Android to 12 - 14
  browsers.config.js
Due: eslint --fix, prettier --write --ignore-unknown

chore: test iOS 17 on iPhone 15 Pro for better performance
  browsers.config.js
Due: eslint --fix, prettier --write --ignore-unknown

test: add test case for filtering items with updated label value
  packages/elements/src/tree-select/__test__/tree-select.filter.test.js
  packages/elements/src/tree/__test__/tree.test.js
Due: eslint --fix, prettier --write --ignore-unknown

test: replace to.be.equal with to.equal for brevity
  packages/elements/src/tree-select/__test__/tree-node.test.js
  packages/elements/src/tree/__test__/tree-node.test.js
Due: eslint --fix, prettier --write --ignore-unknown

test(overlay): accept fractional value difference in bottom-middle position testing
  packages/elements/src/overlay/__test__/overlay-position-target.test.js
Due: eslint --fix, prettier --write --ignore-unknown

test: rename test file for clarity
  packages/elements/src/tree-select/__test__/tree-select.tree-node.test.js
  packages/elements/src/tree/__test__/tree.tree-node.test.js
Due: eslint --fix, prettier --write --ignore-unknown

feat(tree, tree-select, combo-box): allow filtering latest value of items (#1134)
  packages/elements/src/combo-box/helpers/filter.ts
  packages/elements/src/combo-box/helpers/types.ts
  packages/elements/src/combo-box/index.ts
  packages/elements/src/tree-select/index.ts
  packages/elements/src/tree/elements/tree.ts
  packages/elements/src/tree/helpers/filter.ts
  packages/elements/src/tree/helpers/types.ts
  packages/elements/src/tree/managers/tree-manager.ts
Due: eslint --fix, prettier --write --ignore-unknown

test: enable test case for filtering items with updated label value
  packages/elements/src/tree-select/__test__/tree-select.filter.test.js
  packages/elements/src/tree/__test__/tree.test.js
Due: eslint --fix, prettier --write --ignore-unknown

chore: update test related dependencies published by open web components
  package-lock.json
  packages/test-helpers/package.json
Due: prettier --write --ignore-unknown

docs: add Tree Node & Tree Manager to navigation menu
  documents/src/navigation.md
Due: prettier --write --ignore-unknown

chore(release): publish [skip ci]
  documents/CHANGELOG.md
  documents/package.json
  package-lock.json
  packages/demo-block/CHANGELOG.md
  packages/demo-block/package.json
  packages/elements/CHANGELOG.md
  packages/elements/package.json
Due: prettier --write --ignore-unknown

docs: update links on accessibility page
  documents/src/pages/accessibility.md
Due: prettier --write --ignore-unknown

docs: remove unused content
  documents/src/pages/accessibility.md
Due: prettier --write --ignore-unknown

docs: fix image alt
  documents/src/pages/accessibility.md
Due: prettier --write --ignore-unknown

docs(tree): add @type to jsdoc of TreeManager
  packages/elements/src/tree/elements/tree.ts
Due: eslint --fix, prettier --write --ignore-unknown

docs: add TreeNode doc
  documents/src/pages/utils/tree-node.md
Due: prettier --write --ignore-unknown

docs: lint accessibility page
  documents/src/pages/accessibility.md
Due: prettier --write --ignore-unknown

docs: update accessibility overview page (#1139)
  documents/src/pages/accessibility.md
Due: prettier --write --ignore-unknown

docs: update accessibility overview page (#1138)
  documents/src/pages/accessibility.md
Due: prettier --write --ignore-unknown

feat(tree-select): expose persistSelection supporting programmatic selected state update
  packages/elements/src/tree-select/index.ts
  packages/elements/src/tree/managers/tree-node.ts
Due: eslint --fix, prettier --write --ignore-unknown

refactor: improve TreeManager's getTreeNodes() & getTreeNode() perf
  packages/elements/src/tree/__test__/tree-manager.test.js
  packages/elements/src/tree/managers/tree-manager.ts
Due: eslint --fix, prettier --write --ignore-unknown

refactor(tree, tree-select): simplify createTreeRender
  packages/elements/src/tree/helpers/renderer.ts
Due: eslint --fix, prettier --write --ignore-unknown

docs(tree-node): add more content
  documents/src/pages/utils/tree-node.md
Due: prettier --write --ignore-unknown

docs: add isReadonly stamp on doc
  scripts/release/class-api-analyzer.js
  scripts/release/utils.injector.js
Due: eslint --fix, prettier --write --ignore-unknown

docs: improve generate doc to support readonly for accessor
  documents/src/pages/utils/tree-manager.md
  scripts/release/class-api-analyzer.js
  scripts/release/utils.injector.js
Due: eslint --fix, prettier --write --ignore-unknown

docs: add manipulate section to tree and tree-select
  documents/src/navigation.md
  documents/src/pages/elements/tree-select.md
  documents/src/pages/elements/tree.md
  documents/src/pages/utils/tree-manager.md
Due: prettier --write --ignore-unknown

docs(datetime-picker): fix typo on 'format' prop comment
  packages/elements/src/datetime-picker/index.ts
Due: eslint --fix, prettier --write --ignore-unknown

chore: update target test version of Android to 12 - 14 (#1137)
  browsers.config.js
  package-lock.json
  packages/elements/src/overlay/__test__/overlay-position-target.test.js
  packages/test-helpers/package.json
Due: eslint --fix, prettier --write --ignore-unknown

Path conditions:
  eslint --fix: any of: *.{js,ts}
  prettier --write --ignore-unknown: any of: *.{js,mjs,ts,css,less,json,html,yml,md}
