Repository Refinitiv/refinitiv-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write --ignore-unknown

chore: update dependencies for lerna and nx to latest versions
  .gitignore
  .prettierignore
  nx.json
  package-lock.json
  package.json
Due: prettier --write --ignore-unknown

chore: update .npmrc to use local Verdaccio registry and authentication tokens
  .npmrc
Due: none

chore(release): publish [skip ci]
  documents/CHANGELOG.md
  documents/package.json
  package-lock.json
  packages/configurations/CHANGELOG.md
  packages/configurations/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/create-efx/CHANGELOG.md
  packages/create-efx/package.json
  packages/demo-block/CHANGELOG.md
  packages/demo-block/package.json
  packages/ds-theme/CHANGELOG.md
  packages/ds-theme/package.json
  packages/elemental-theme/CHANGELOG.md
  packages/elemental-theme/package.json
  packages/elements/CHANGELOG.md
  packages/elements/package.json
  packages/halo-theme/CHANGELOG.md
  packages/halo-theme/package.json
  packages/i18n/CHANGELOG.md
  packages/i18n/package.json
  packages/phrasebook/CHANGELOG.md
  packages/phrasebook/package.json
  packages/solar-theme/CHANGELOG.md
  packages/solar-theme/package.json
  packages/test-helpers/CHANGELOG.md
  packages/test-helpers/package.json
  packages/theme-compiler/CHANGELOG.md
  packages/theme-compiler/package.json
  packages/translate/CHANGELOG.md
  packages/translate/package.json
  packages/utils/CHANGELOG.md
  packages/utils/package.json
  vscode-extensions/snippets/CHANGELOG.md
  vscode-extensions/snippets/package.json
Due: prettier --write --ignore-unknown

chore: fix NODE_AUTH_TOKEN environment variable for deprecation script in release workflows
  .github/workflows/pre_release.yml
  .github/workflows/prod_release.yml
Due: prettier --write --ignore-unknown

ci: update NPM_AUTH_TOKEN to NPM_DEPRECATION_TOKEN in pre_release and prod_release workflows
  .github/workflows/pre_release.yml
  .github/workflows/prod_release.yml
Due: prettier --write --ignore-unknown

chore: add test_release workflow for deprecating solar theme on npm
  .github/workflows/test_release.yml
Due: prettier --write --ignore-unknown

chore: update test_release workflow to trigger on push to fix/deprecate-solar branch
  .github/workflows/test_release.yml
Due: prettier --write --ignore-unknown

chore: remove production environment and permissions from test_release workflow
  .github/workflows/test_release.yml
Due: prettier --write --ignore-unknown

chore: simplify deprecation command for solar theme in test_release workflow
  .github/workflows/test_release.yml
Due: prettier --write --ignore-unknown

chore: add Node.js setup step in test_release workflow
  .github/workflows/test_release.yml
Due: prettier --write --ignore-unknown

chore: add npm registry check before deprecating solar theme
  .github/workflows/test_release.yml
Due: prettier --write --ignore-unknown

chore: update environment variable for npm deprecation command in test_release workflow
  .github/workflows/test_release.yml
Due: prettier --write --ignore-unknown

ci: update NODE_AUTH_TOKEN to use NPM_DEPRECATION_TOKEN for deprecation commands
  .github/workflows/pre_release.yml
  .github/workflows/prod_release.yml
Due: prettier --write --ignore-unknown

chore: update node CI runtime to 22
  .github/actions/setup/action.yml
Due: prettier --write --ignore-unknown

chore: support development with node 22 (#1255)
  .github/actions/setup/action.yml
  package-lock.json
  packages/phrasebook/package.json
Due: prettier --write --ignore-unknown

feat(overlay): add zIndex type to include auto
  packages/elements/src/overlay/elements/overlay.ts
Due: eslint --fix, prettier --write --ignore-unknown

fix(overlay): change zIndex type from number to string
  packages/elements/src/overlay/managers/zindex-manager.ts
Due: eslint --fix, prettier --write --ignore-unknown

Add click event to focus on text field
  packages/elements/src/text-field/index.ts
Due: eslint --fix, prettier --write --ignore-unknown

Add click handler to input wrapper for focus
  packages/elements/src/combo-box/index.ts
Due: eslint --fix, prettier --write --ignore-unknown

Update zindex-manager.ts
  packages/elements/src/overlay/managers/zindex-manager.ts
Due: eslint --fix, prettier --write --ignore-unknown

Refine zIndex property type definition
  packages/elements/src/overlay/elements/overlay.ts
Due: eslint --fix, prettier --write --ignore-unknown

fix(list): value-changed should returns latest selected item
  packages/elements/src/list/elements/list.ts
Due: eslint --fix, prettier --write --ignore-unknown

Add JSDoc parameter annotation for fireSelectionUpdate
  packages/elements/src/list/elements/list.ts
Due: eslint --fix, prettier --write --ignore-unknown

fix(overlay): fix to support filtor-dialog of efx-grid
  packages/elements/src/combo-box/index.ts
  packages/elements/src/overlay/managers/close-manager.ts
  packages/elements/src/text-field/index.ts
Due: eslint --fix, prettier --write --ignore-unknown

test: test
  package-lock.json
  packages/elements/package.json
  packages/elements/src/dialog/__demo__/index.html
Due: prettier --write --ignore-unknown

Update close-manager.ts
  packages/elements/src/overlay/managers/close-manager.ts
Due: eslint --fix, prettier --write --ignore-unknown

fix(overlay): fix to support filtor-dialog of efx-grid (#1293)
  packages/elements/src/overlay/managers/close-manager.ts
Due: eslint --fix, prettier --write --ignore-unknown

chore(release): publish [skip ci]
  documents/CHANGELOG.md
  documents/package.json
  package-lock.json
  packages/elements/CHANGELOG.md
  packages/elements/package.json
  packages/i18n/CHANGELOG.md
  packages/i18n/package.json
  packages/phrasebook/CHANGELOG.md
  packages/phrasebook/package.json
  packages/translate/CHANGELOG.md
  packages/translate/package.json
Due: prettier --write --ignore-unknown

fix(overlay): fix to support filtor-dialog of efx-grid
  packages/elements/src/overlay/managers/close-manager.ts
Due: eslint --fix, prettier --write --ignore-unknown

fix(overlay): fix to support filtor-dialog of efx-grid (#1295)
  packages/elements/src/overlay/managers/close-manager.ts
Due: eslint --fix, prettier --write --ignore-unknown

test: display all log in lerna publish
  .github/workflows/prod_release.yml
Due: prettier --write --ignore-unknown

test: display all log in lerna publish (#1296)
  .github/workflows/prod_release.yml
Due: prettier --write --ignore-unknown

chore(release): publish [skip ci]
  documents/CHANGELOG.md
  documents/package.json
  package-lock.json
  packages/elements/CHANGELOG.md
  packages/elements/package.json
Due: prettier --write --ignore-unknown

docs(overlay): add comment for fixing jsdoc
  packages/elements/src/overlay/managers/close-manager.ts
Due: eslint --fix, prettier --write --ignore-unknown

fix(tab-bar): handle an edge case in which there is no active tab
  packages/elements/src/tab-bar/index.ts
Due: eslint --fix, prettier --write --ignore-unknown

refactor(overlay): complete jsdoc of isFilterDialog()
  packages/elements/src/overlay/managers/close-manager.ts
Due: eslint --fix, prettier --write --ignore-unknown

fix(tab-bar): handle an edge case in which there is no active tab (#1302)
  packages/elements/src/overlay/managers/close-manager.ts
  packages/elements/src/tab-bar/index.ts
Due: eslint --fix, prettier --write --ignore-unknown

Path conditions:
  eslint --fix: any of: *.{js,ts}
  prettier --write --ignore-unknown: any of: *.{js,mjs,ts,css,less,json,html,yml,md}
