Repository Refinitiv/refinitiv-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write --ignore-unknown

.lintstagedrc.json:

{
  "*.{js,ts}": "eslint --fix",
  "*.{js,mjs,ts,css,less,json,html,yml,md}": "prettier --write --ignore-unknown"
}

fix(phrasebook): correct links to element doc
  packages/phrasebook/src/locale/de/color-dialog.ts
  packages/phrasebook/src/locale/de/pagination.ts
  packages/phrasebook/src/locale/de/tree-select.ts
  packages/phrasebook/src/locale/en/color-dialog.ts
  packages/phrasebook/src/locale/en/pagination.ts
  packages/phrasebook/src/locale/en/tree-select.ts
  packages/phrasebook/src/locale/ja/color-dialog.ts
  packages/phrasebook/src/locale/ja/pagination.ts
  packages/phrasebook/src/locale/ja/tree-select.ts
  packages/phrasebook/src/locale/zh-hant/color-dialog.ts
  packages/phrasebook/src/locale/zh-hant/pagination.ts
  packages/phrasebook/src/locale/zh-hant/tree-select.ts
  packages/phrasebook/src/locale/zh/color-dialog.ts
  packages/phrasebook/src/locale/zh/pagination.ts
  packages/phrasebook/src/locale/zh/tree-select.ts
Due: eslint --fix, prettier --write --ignore-unknown

fix(slider): error revalidate number-field when not exist
  packages/elements/src/slider/index.ts
Due: eslint --fix, prettier --write --ignore-unknown

chore(slider): typo
  packages/elements/src/slider/index.ts
Due: eslint --fix, prettier --write --ignore-unknown

fix: .npmignore should not ignore `tsconfig.json.template`
  packages/create-efx/.npmignore
Due: none

refactor: replace fs-extra with native fs
  packages/create-efx/src/index.ts
  packages/create-efx/src/utils/renamer.ts
Due: eslint --fix, prettier --write --ignore-unknown

chore: update dependencies
  package-lock.json
  packages/create-efx/package.json
Due: prettier --write --ignore-unknown

refactor: specify extension in bin
  packages/create-efx/bin/create-efx
Due: none

refactor: replace fs-extra with native fs API
  packages/create-efx/src/utils/replacer.ts
Due: eslint --fix, prettier --write --ignore-unknown

fix: `tap` event should not be triggerred on right click
  packages/core/src/events/TapEvent.ts
Due: eslint --fix, prettier --write --ignore-unknown

chore: cleanup necessary links to element doc
  packages/phrasebook/src/locale/de/color-dialog.ts
  packages/phrasebook/src/locale/de/color-picker.ts
  packages/phrasebook/src/locale/de/pagination.ts
  packages/phrasebook/src/locale/de/tree-select.ts
  packages/phrasebook/src/locale/en/color-dialog.ts
  packages/phrasebook/src/locale/en/color-picker.ts
  packages/phrasebook/src/locale/en/pagination.ts
  packages/phrasebook/src/locale/en/tree-select.ts
  packages/phrasebook/src/locale/ja/color-dialog.ts
  packages/phrasebook/src/locale/ja/color-picker.ts
  packages/phrasebook/src/locale/ja/pagination.ts
  packages/phrasebook/src/locale/ja/tree-select.ts
  packages/phrasebook/src/locale/zh-hant/color-dialog.ts
  packages/phrasebook/src/locale/zh-hant/color-picker.ts
  packages/phrasebook/src/locale/zh-hant/pagination.ts
  packages/phrasebook/src/locale/zh-hant/tree-select.ts
  packages/phrasebook/src/locale/zh/color-dialog.ts
  packages/phrasebook/src/locale/zh/color-picker.ts
  packages/phrasebook/src/locale/zh/pagination.ts
  packages/phrasebook/src/locale/zh/tree-select.ts
Due: eslint --fix, prettier --write --ignore-unknown

fix(slider): incorrect updating to value
  packages/elements/src/slider/__test__/slider.number-field.test.js
  packages/elements/src/slider/index.ts
Due: eslint --fix, prettier --write --ignore-unknown

chore(slider): update follow feedback
  packages/elements/src/slider/index.ts
Due: eslint --fix, prettier --write --ignore-unknown

refactor(phrasebook): cleanup unnecessary links to element doc (#944)
  packages/phrasebook/src/locale/de/color-dialog.ts
  packages/phrasebook/src/locale/de/color-picker.ts
  packages/phrasebook/src/locale/de/pagination.ts
  packages/phrasebook/src/locale/de/tree-select.ts
  packages/phrasebook/src/locale/en/color-dialog.ts
  packages/phrasebook/src/locale/en/color-picker.ts
  packages/phrasebook/src/locale/en/pagination.ts
  packages/phrasebook/src/locale/en/tree-select.ts
  packages/phrasebook/src/locale/ja/color-dialog.ts
  packages/phrasebook/src/locale/ja/color-picker.ts
  packages/phrasebook/src/locale/ja/pagination.ts
  packages/phrasebook/src/locale/ja/tree-select.ts
  packages/phrasebook/src/locale/zh-hant/color-dialog.ts
  packages/phrasebook/src/locale/zh-hant/color-picker.ts
  packages/phrasebook/src/locale/zh-hant/pagination.ts
  packages/phrasebook/src/locale/zh-hant/tree-select.ts
  packages/phrasebook/src/locale/zh/color-dialog.ts
  packages/phrasebook/src/locale/zh/color-picker.ts
  packages/phrasebook/src/locale/zh/pagination.ts
  packages/phrasebook/src/locale/zh/tree-select.ts
Due: eslint --fix, prettier --write --ignore-unknown

refactor(phrasebook): cleanup unnecessary links to element doc (#943)
  packages/phrasebook/src/locale/de/color-dialog.ts
  packages/phrasebook/src/locale/de/color-picker.ts
  packages/phrasebook/src/locale/de/pagination.ts
  packages/phrasebook/src/locale/de/tree-select.ts
  packages/phrasebook/src/locale/en/color-dialog.ts
  packages/phrasebook/src/locale/en/color-picker.ts
  packages/phrasebook/src/locale/en/pagination.ts
  packages/phrasebook/src/locale/en/tree-select.ts
  packages/phrasebook/src/locale/ja/color-dialog.ts
  packages/phrasebook/src/locale/ja/color-picker.ts
  packages/phrasebook/src/locale/ja/pagination.ts
  packages/phrasebook/src/locale/ja/tree-select.ts
  packages/phrasebook/src/locale/zh-hant/color-dialog.ts
  packages/phrasebook/src/locale/zh-hant/color-picker.ts
  packages/phrasebook/src/locale/zh-hant/pagination.ts
  packages/phrasebook/src/locale/zh-hant/tree-select.ts
  packages/phrasebook/src/locale/zh/color-dialog.ts
  packages/phrasebook/src/locale/zh/color-picker.ts
  packages/phrasebook/src/locale/zh/pagination.ts
  packages/phrasebook/src/locale/zh/tree-select.ts
Due: eslint --fix, prettier --write --ignore-unknown

chore: use `files` instead of npmignore
  packages/create-efx/.npmignore
  packages/create-efx/package.json
Due: prettier --write --ignore-unknown

fix: create efx doesn't upload tsconfig template to npm (#945)
  package-lock.json
  packages/create-efx/.npmignore
  packages/create-efx/bin/create-efx
  packages/create-efx/package.json
  packages/create-efx/src/index.ts
  packages/create-efx/src/utils/renamer.ts
  packages/create-efx/src/utils/replacer.ts
Due: eslint --fix, prettier --write --ignore-unknown

chore(calendar): unambiguous jsdoc
  packages/elements/src/calendar/index.ts
Due: eslint --fix, prettier --write --ignore-unknown

refactor: rename CellModel to CalendarCell
  packages/elements/src/calendar/__test__/calendar.defaults.test.js
  packages/elements/src/calendar/index.ts
  packages/elements/src/calendar/types.ts
  packages/elements/src/calendar/utils.ts
Due: eslint --fix, prettier --write --ignore-unknown

docs(combo-box): use data item management doc instead
  documents/src/pages/elements/combo-box.md
Due: prettier --write --ignore-unknown

refactor: replace fs-extra with native fs API
  packages/create-efx/src/index.ts
  packages/create-efx/src/utils/renamer.ts
  packages/create-efx/src/utils/replacer.ts
Due: eslint --fix, prettier --write --ignore-unknown

chore: use files instead of npmignore
  packages/create-efx/.npmignore
  packages/create-efx/package.json
Due: prettier --write --ignore-unknown

chore: update package lock
  package-lock.json
Due: prettier --write --ignore-unknown

docs(calendar): update docs based on type rename
  documents/src/pages/elements/calendar.md
Due: prettier --write --ignore-unknown

docs: use data item management doc instead
  documents/src/pages/elements/combo-box.md
  documents/src/pages/elements/list.md
  documents/src/pages/elements/select.md
  documents/src/pages/elements/tree-select.md
  documents/src/pages/elements/tree.md
Due: prettier --write --ignore-unknown

feat(calendar): introduce before-cell-render event
  documents/src/pages/elements/calendar.md
  packages/elements/src/calendar/__demo__/index.html
  packages/elements/src/calendar/__test__/calendar.defaults.test.js
  packages/elements/src/calendar/index.ts
  packages/elements/src/calendar/types.ts
  packages/elements/src/calendar/utils.ts
Due: eslint --fix, prettier --write --ignore-unknown

test: rename test case to follow naming convention
  packages/elements/src/calendar/__test__/calendar.defaults.test.js
Due: eslint --fix, prettier --write --ignore-unknown

apply suggestions from code review
  documents/src/pages/elements/calendar.md
  packages/elements/src/calendar/index.ts
Due: eslint --fix, prettier --write --ignore-unknown

chore: remove unused resources
  documents/resources/images/Illustration29.png
  documents/resources/images/codepen-icon.svg
  documents/resources/images/core.changes.png
  documents/resources/images/halo-banner.png
  documents/resources/images/home.components.png
  documents/resources/images/home.performance.png
  documents/resources/images/home.theming.png
  documents/resources/images/moon-icon.svg
  documents/resources/images/refinitiv-bg.jpeg
  documents/resources/images/sun-icon.svg
  documents/resources/styles/api.css
  documents/resources/styles/demo.css
  documents/resources/styles/element.css
  documents/resources/styles/home.css
Due: prettier --write --ignore-unknown

chore: remove unused resources
  documents/resources/images/Illustration29.png
  documents/resources/images/codepen-icon.svg
  documents/resources/images/core.changes.png
  documents/resources/images/halo-banner.png
  documents/resources/images/home.components.png
  documents/resources/images/home.performance.png
  documents/resources/images/home.theming.png
  documents/resources/images/moon-icon.svg
  documents/resources/images/refinitiv-bg.jpeg
  documents/resources/images/sun-icon.svg
Due: none

test(slider): add test case revalidate state
  packages/elements/src/slider/__test__/slider.number-field.test.js
Due: eslint --fix, prettier --write --ignore-unknown

fix(slider): number field not revalidate when error state changes
  packages/elements/src/slider/__test__/slider.number-field.test.js
  packages/elements/src/slider/index.ts
Due: eslint --fix, prettier --write --ignore-unknown

feat: add missing export
  documents/src/pages/elements/calendar.md
  packages/elements/src/calendar/index.ts
Due: eslint --fix, prettier --write --ignore-unknown

test(slider): fix changing input value in numberField
  packages/elements/src/slider/__test__/slider.number-field.test.js
Due: eslint --fix, prettier --write --ignore-unknown

docs: improve example code
  documents/src/pages/elements/calendar.md
Due: prettier --write --ignore-unknown

docs: update fields input validation section
  documents/src/pages/elements/email-field.md
  documents/src/pages/elements/number-field.md
  documents/src/pages/elements/password-field.md
  documents/src/pages/elements/search-field.md
  documents/src/pages/elements/text-field.md
Due: prettier --write --ignore-unknown

test(core): fix test case title typo
  packages/core/__test__/elements/FormFieldElement.test.js
Due: eslint --fix, prettier --write --ignore-unknown

test: update test case title of field elements
  packages/elements/src/number-field/__test__/number-field.test.js
  packages/elements/src/text-field/__test__/text-field.validation.test.js
Due: eslint --fix, prettier --write --ignore-unknown
