Repository Refinitiv/refinitiv-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write --ignore-unknown

.lintstagedrc.json:

{
  "*.{js,ts}": "eslint --fix",
  "*.{js,mjs,ts,css,less,json,html,yml,md}": "prettier --write --ignore-unknown"
}

refactor: move lerna's ignoreChanges to root level
  lerna.json
Due: prettier --write --ignore-unknown

chore: ignore all tsconfig in .npmignore
  packages/core/.npmignore
  packages/create-efx/.npmignore
  packages/demo-block/.npmignore
  packages/elemental-theme/.npmignore
  packages/elements/.npmignore
  packages/halo-theme/.npmignore
  packages/i18n/.npmignore
  packages/phrasebook/.npmignore
  packages/solar-theme/.npmignore
  packages/test-helpers/.npmignore
  packages/theme-compiler/.npmignore
  packages/translate/.npmignore
  packages/utils/.npmignore
Due: none

fix: add packages list to lerna config for blackduck scanning (#897)
  .github/workflows/blackduck_scan.yml
  lerna.json
  packages/core/.npmignore
  packages/create-efx/.npmignore
  packages/demo-block/.npmignore
  packages/elemental-theme/.npmignore
  packages/elements/.npmignore
  packages/halo-theme/.npmignore
  packages/i18n/.npmignore
  packages/phrasebook/.npmignore
  packages/solar-theme/.npmignore
  packages/test-helpers/.npmignore
  packages/theme-compiler/.npmignore
  packages/translate/.npmignore
  packages/utils/.npmignore
Due: prettier --write --ignore-unknown

fix: add packages list to lerna config for blackduck scanning (#904)
  .github/workflows/blackduck_scan.yml
  lerna.json
  packages/core/.npmignore
  packages/create-efx/.npmignore
  packages/demo-block/.npmignore
  packages/elemental-theme/.npmignore
  packages/elements/.npmignore
  packages/halo-theme/.npmignore
  packages/i18n/.npmignore
  packages/phrasebook/.npmignore
  packages/solar-theme/.npmignore
  packages/test-helpers/.npmignore
  packages/theme-compiler/.npmignore
  packages/translate/.npmignore
  packages/utils/.npmignore
Due: prettier --write --ignore-unknown

fix(slider): fired input event align with native
  packages/elements/src/slider/__test__/slider.event.test.js
  packages/elements/src/slider/index.ts
Due: eslint --fix, prettier --write --ignore-unknown

test(slider): add number-field input event test
  packages/elements/src/slider/__test__/slider.event.test.js
Due: eslint --fix, prettier --write --ignore-unknown

feat(snippets): add `Snippets VS Code Extension` project
  .gitignore
  .vscode/launch.json
  lerna.json
  package-lock.json
  package.json
  vscode-extensions/snippets/.vscodeignore
  vscode-extensions/snippets/CHANGELOG.md
  vscode-extensions/snippets/CONTRIBUTING.md
  vscode-extensions/snippets/LICENSE
  vscode-extensions/snippets/README.md
  vscode-extensions/snippets/images/logo.png
  vscode-extensions/snippets/images/preview.gif
  vscode-extensions/snippets/package.json
  vscode-extensions/snippets/snippets/snippets.code-snippets
Due: prettier --write --ignore-unknown

build(snippets): add npm scripts to publish VSCode Extension
  vscode-extensions/snippets/package.json
Due: prettier --write --ignore-unknown

ci: publish VSCode Extensions in production release
  .github/workflows/prod_release.yml
Due: prettier --write --ignore-unknown

test: refactor unit test (#898)
  packages/core/__snapshots__/TestControlElement.md
  packages/core/__snapshots__/TestCustomElement.md
  packages/core/__snapshots__/TestCustomStyleRegistry.md
  packages/core/__snapshots__/TestDeprecationNotice.md
  packages/core/__snapshots__/TestDuplicateElementError.md
  packages/core/__snapshots__/TestDuplicateStyleError.md
  packages/core/__snapshots__/TestElementRegistry.md
  packages/core/__snapshots__/TestNativeStyleRegistry.md
  packages/core/__snapshots__/TestNotice.md
  packages/core/__snapshots__/TestWarningNotice.md
  packages/core/__test__/decorators/CustomElement.test.js
  packages/core/__test__/elements/ControlElement.test.js
  packages/core/__test__/errors/DuplicateElementError.test.js
  packages/core/__test__/errors/DuplicateStyleError.test.js
  packages/core/__test__/notices/DeprecationNotice.test.js
  packages/core/__test__/notices/Notice.test.js
  packages/core/__test__/notices/WarningNotice.test.js
  packages/core/__test__/registries/CustomStyleRegistry.test.js
  packages/core/__test__/registries/ElementRegistry.test.js
  packages/core/__test__/registries/NativeStyleRegistry.test.js
  packages/elements/src/list/__test__/list.test.js
  packages/elements/src/tree/__test__/tree.test.js
Due: eslint --fix, prettier --write --ignore-unknown

test: refactor unit test (#901)
  packages/core/__test__/decorators/CustomElement.test.js
  packages/core/__test__/decorators/__snapshots__/CustomElement.test.snap.js
  packages/core/__test__/errors/DuplicateElementError.test.js
  packages/core/__test__/errors/DuplicateStyleError.test.js
  packages/core/__test__/errors/__snapshots__/DuplicateElementError.test.snap.js
  packages/core/__test__/errors/__snapshots__/DuplicateStyleError.test.snap.js
  packages/core/__test__/notices/DeprecationNotice.test.js
  packages/core/__test__/notices/Notice.test.js
  packages/core/__test__/notices/WarningNotice.test.js
  packages/core/__test__/notices/__snapshots__/DeprecationNotice.test.snap.js
  packages/core/__test__/notices/__snapshots__/Notice.test.snap.js
  packages/core/__test__/notices/__snapshots__/WarningNotice.test.snap.js
  packages/core/__test__/registries/CustomStyleRegistry.test.js
  packages/core/__test__/registries/ElementRegistry.test.js
  packages/core/__test__/registries/NativeStyleRegistry.test.js
  packages/core/__test__/registries/__snapshots__/CustomStyleRegistry.test.snap.js
  packages/core/__test__/registries/__snapshots__/ElementRegistry.test.snap.js
  packages/core/__test__/registries/__snapshots__/NativeStyleRegistry.test.snap.js
  packages/elements/src/list/__test__/list.test.js
  packages/elements/src/tree/__test__/tree.test.js
Due: eslint --fix, prettier --write --ignore-unknown

feat(number-field): add new event up-clicked and down-clicked
  packages/elements/src/number-field/__demo__/index.html
  packages/elements/src/number-field/__test__/number-field.test.js
  packages/elements/src/number-field/index.ts
Due: eslint --fix, prettier --write --ignore-unknown

test(number-field): add more test cases and demo page
  packages/elements/src/number-field/__demo__/index.html
  packages/elements/src/number-field/__test__/number-field.test.js
Due: eslint --fix, prettier --write --ignore-unknown

feat: add max property
  packages/elements/src/tree-select/__demo__/index.html
  packages/elements/src/tree-select/__test__/tree-select.interaction.test.js
  packages/elements/src/tree-select/__test__/tree-select.value.test.js
  packages/elements/src/tree-select/index.ts
Due: eslint --fix, prettier --write --ignore-unknown

docs: add limiting selected items section
  documents/src/pages/elements/tree-select.md
Due: prettier --write --ignore-unknown

fix: reset max to null when max value is negative
  packages/elements/src/tree-select/__test__/tree-select.value.test.js
  packages/elements/src/tree-select/index.ts
Due: eslint --fix, prettier --write --ignore-unknown

docs: update tree-select demo
  documents/src/pages/elements/tree-select.md
Due: prettier --write --ignore-unknown

test(slider): typo
  packages/elements/src/slider/__test__/slider.event.test.js
Due: eslint --fix, prettier --write --ignore-unknown

docs(slider): typo fires event
  packages/elements/src/slider/index.ts
Due: eslint --fix, prettier --write --ignore-unknown

chore(slider): add comment for dynamically accessed variable
  packages/elements/src/slider/index.ts
Due: eslint --fix, prettier --write --ignore-unknown

chore: update browser-sparkline to v2 and turn it to peer dependency
  package-lock.json
  packages/elements/package.json
Due: prettier --write --ignore-unknown

Update packages/elements/src/number-field/__demo__/index.html
  packages/elements/src/number-field/__demo__/index.html
Due: prettier --write --ignore-unknown

refactor(number-field): improve code reading
  packages/elements/src/number-field/index.ts
Due: eslint --fix, prettier --write --ignore-unknown

test(slider): type
  packages/elements/src/slider/__test__/slider.event.test.js
Due: eslint --fix, prettier --write --ignore-unknown

feat(slider): add input event
  packages/core/src/elements/BasicElement.ts
  packages/elements/src/slider/__demo__/index.html
  packages/elements/src/slider/__test__/slider.event.test.js
  packages/elements/src/slider/index.ts
Due: eslint --fix, prettier --write --ignore-unknown

fix(number-field): rename event
  packages/elements/src/number-field/__demo__/index.html
  packages/elements/src/number-field/__test__/number-field.test.js
  packages/elements/src/number-field/index.ts
Due: eslint --fix, prettier --write --ignore-unknown

Update packages/elements/src/number-field/__test__/number-field.test.js
  packages/elements/src/number-field/__test__/number-field.test.js
Due: eslint --fix, prettier --write --ignore-unknown

test(number-field): rename test cases
  packages/elements/src/number-field/__test__/number-field.test.js
Due: eslint --fix, prettier --write --ignore-unknown
