Repository Refinitiv/refinitiv-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write --ignore-unknown

.lintstagedrc.json:

{
  "*.{js,ts}": "eslint --fix",
  "*.{js,mjs,ts,css,less,json,html,yml,md}": "prettier --write --ignore-unknown"
}

chore: update dependencies
  package-lock.json
  package.json
Due: prettier --write --ignore-unknown

docs: add script to generate json to markdown
  documents/scripts/element.injector.js
  documents/scripts/jsonToMD.js
  documents/src/pages/utils/test.md
Due: eslint --fix, prettier --write --ignore-unknown

fix(create-efx): add extension to bin file for support type module
  packages/create-efx/bin/create-efx
  packages/create-efx/bin/create-efx.js
  packages/create-efx/package.json
Due: eslint --fix, prettier --write --ignore-unknown

test: debug test re2 pattern
  .github/workflows/pr_check.yml
  packages/theme-compiler/src/less-plugin-inline-svg/encoders.js
Due: eslint --fix, prettier --write --ignore-unknown

fix(autosuggest): experimental
  packages/elemental-theme/src/custom-elements/ef-pill.less
  packages/elements/src/pill/__demo__/index.html
  packages/elements/src/pill/index.ts
  packages/halo-theme/src/custom-elements/ef-pill.less
Due: eslint --fix, prettier --write --ignore-unknown

docs: revise Angular tutorial contents and example code
  documents/src/pages/build-app/framework-integration/angular.md
Due: prettier --write --ignore-unknown

docs: update React codesandbox link
  documents/src/pages/build-app/framework-integration/react.md
Due: prettier --write --ignore-unknown

docs: update react version
  documents/src/pages/build-app/framework-integration/react.md
Due: prettier --write --ignore-unknown

fix(create-efx): missing comma in package.json template
  packages/create-efx/template/package.json.template
Due: none

fix(create-efx): remove trailling comma in package.json template
  packages/create-efx/template/package.json.template
Due: none

fix(create-efx): add extension to bin file for support type module (#1056)
  packages/create-efx/bin/create-efx
  packages/create-efx/bin/create-efx.js
  packages/create-efx/package.json
  packages/create-efx/template/package.json.template
Due: eslint --fix, prettier --write --ignore-unknown

chore(release): publish [skip ci]
  documents/CHANGELOG.md
  documents/package.json
  package-lock.json
  packages/create-efx/CHANGELOG.md
  packages/create-efx/package.json
  packages/demo-block/CHANGELOG.md
  packages/demo-block/package.json
  packages/elemental-theme/CHANGELOG.md
  packages/elemental-theme/package.json
  packages/elements/CHANGELOG.md
  packages/elements/package.json
  packages/halo-theme/CHANGELOG.md
  packages/halo-theme/package.json
  packages/i18n/CHANGELOG.md
  packages/i18n/package.json
  packages/solar-theme/CHANGELOG.md
  packages/solar-theme/package.json
  packages/theme-compiler/CHANGELOG.md
  packages/theme-compiler/package.json
  packages/translate/CHANGELOG.md
  packages/translate/package.json
Due: prettier --write --ignore-unknown

chore(release): publish [skip ci]
  documents/CHANGELOG.md
  documents/package.json
  package-lock.json
  packages/create-efx/CHANGELOG.md
  packages/create-efx/package.json
  packages/demo-block/CHANGELOG.md
  packages/demo-block/package.json
  packages/elemental-theme/CHANGELOG.md
  packages/elemental-theme/package.json
  packages/elements/CHANGELOG.md
  packages/elements/package.json
  packages/halo-theme/CHANGELOG.md
  packages/halo-theme/package.json
  packages/solar-theme/CHANGELOG.md
  packages/solar-theme/package.json
  packages/theme-compiler/CHANGELOG.md
  packages/theme-compiler/package.json
Due: prettier --write --ignore-unknown

refactor: replace RegExp with SVGO for inline SVG optimization
  package-lock.json
  packages/theme-compiler/package.json
  packages/theme-compiler/src/less-plugin-inline-svg/encoders.js
Due: eslint --fix, prettier --write --ignore-unknown

chore(theme-compiler): update engine requirement per SVGO spec
  package-lock.json
  packages/theme-compiler/package.json
Due: prettier --write --ignore-unknown

feat(utils): add class analyzer script
  package-lock.json
  package.json
  packages/utils/package.json
  scripts/release/class-api-analyzer.cjs
Due: prettier --write --ignore-unknown

refactor(theme-compiler): replace RegExp with SVGO for inline SVG optimization
  package-lock.json
  packages/theme-compiler/package.json
  packages/theme-compiler/src/less-plugin-inline-svg/encoders.js
Due: eslint --fix, prettier --write --ignore-unknown

fix(autosuggest): set up demo to reproduce
  packages/elements/src/autosuggest/__demo__/index.html
Due: prettier --write --ignore-unknown

chore: bump deps versions in package.json to match with installed packages
  package-lock.json
  package.json
Due: prettier --write --ignore-unknown

docs: remove installation part of vue and react
  documents/src/pages/build-app/framework-integration/react.md
  documents/src/pages/build-app/framework-integration/vue.md
Due: prettier --write --ignore-unknown

docs: remove remove extra line
  documents/src/pages/build-app/framework-integration/vue.md
Due: prettier --write --ignore-unknown

refactor: add event listeners to all shadow roots
  packages/core/src/registries/FocusRegistry.ts
Due: eslint --fix, prettier --write --ignore-unknown

chore: update package-lock.json
  package-lock.json
Due: prettier --write --ignore-unknown

test(datetime-picker): update missing snapshot for custom cell render
  packages/elements/src/datetime-picker/__test__/__snapshots__/datetime-picker.snapshot.test.snap.js
Due: eslint --fix, prettier --write --ignore-unknown

fix: patch karma-firefox-launcher supporting Firefox 121+
  package-lock.json
  package.json
  patches/karma-firefox-launcher+2.1.2.patch
Due: prettier --write --ignore-unknown

docs: update react codesandbox link
  documents/src/pages/build-app/framework-integration/react.md
Due: prettier --write --ignore-unknown

fix(autosuggest): incorrect mark style
  packages/halo-theme/src/custom-elements/ef-autosuggest.less
  packages/halo-theme/src/custom-elements/ef-item.less
Due: prettier --write --ignore-unknown

chore: ignore .nx folder
  .gitignore
  package-lock.json
  package.json
Due: prettier --write --ignore-unknown

chore: ignore .nx folder
  .gitignore
Due: none

refactor(autosuggest): use mixin class for default mark style
  packages/elemental-theme/src/custom-elements/ef-autosuggest.less
  packages/elemental-theme/src/custom-elements/ef-item.less
  packages/elemental-theme/src/native-elements/mark.less
  packages/halo-theme/src/custom-elements/ef-item.less
Due: prettier --write --ignore-unknown

chore: ignore .nx folder
  package-lock.json
Due: prettier --write --ignore-unknown

Revert "fix(autosuggest): set up demo to reproduce"
  packages/elements/src/autosuggest/__demo__/index.html
Due: prettier --write --ignore-unknown

chore: use in yml and fix Bundle Size to use node v20
  .github/actions/checkout-install-and-build/action.yml
  .github/actions/setup/action.yml
  .github/workflows/pr_check.yml
Due: prettier --write --ignore-unknown

refactor: add jsdoc comment
  packages/core/src/registries/FocusRegistry.ts
Due: eslint --fix, prettier --write --ignore-unknown

docs: revise Angular tutorial contents and example code (#1057)
  documents/src/pages/build-app/framework-integration/angular.md
  documents/src/pages/build-app/framework-integration/react.md
  documents/src/pages/build-app/framework-integration/vue.md
Due: prettier --write --ignore-unknown
