Repository Refinitiv/refinitiv-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write --ignore-unknown

chore: update lock fil
  package-lock.json
Due: prettier --write --ignore-unknown

fix(configuration): add new createEfConfig & update api element
  packages/elements/src/configuration/__demo__/index.html
  packages/elements/src/configuration/__test__/configuration.test.js
  packages/elements/src/configuration/__test__/helpers/helpers.js
  packages/elements/src/configuration/elements/configuration.ts
  packages/elements/src/configuration/helpers/configuration.ts
  packages/elements/src/configuration/index.ts
  packages/elements/src/icon/__test__/helpers/helpers.js
  packages/elements/src/icon/__test__/icon.test.js
  packages/utils/src/loader/svg-loader.ts
Due: eslint --fix, prettier --write --ignore-unknown

chore: update package-lock.json
  package-lock.json
Due: prettier --write --ignore-unknown

docs: update index page
  documents/src/index.md
Due: prettier --write --ignore-unknown

chore: replace `v6` with `v7`
  .github/workflows/test_coverage.yml
  README.md
  documents/src/pages/build-app/custom-theme.md
  documents/src/pages/elements/color-picker.md
  packages/configurations/README.md
  packages/configurations/package.json
  packages/translate/README.md
Due: prettier --write --ignore-unknown

docs(configuration): review configuration doc
  documents/src/pages/elements/configuration.md
Due: prettier --write --ignore-unknown

fix(configuration): update structure
  packages/elements/src/configuration/__demo__/index.html
  packages/elements/src/configuration/elements/configuration.ts
  packages/elements/src/configuration/helpers/configuration.ts
  packages/elements/src/configuration/index.ts
  packages/elements/src/icon/__test__/icon.test.js
Due: eslint --fix, prettier --write --ignore-unknown

chore: replace `v6` with `v7` (#729)
  .github/workflows/test_coverage.yml
  README.md
  documents/src/pages/build-app/custom-theme.md
  documents/src/pages/elements/color-picker.md
  packages/configurations/README.md
  packages/configurations/package.json
  packages/translate/README.md
Due: prettier --write --ignore-unknown

revert: do not format less variables
  packages/elemental-theme/src/colours.less
  packages/elemental-theme/src/css-properties.less
  packages/elemental-theme/src/variables.less
  packages/elemental-theme/src/variants/dark/variables.less
  packages/halo-theme/src/palettes/action.less
  packages/halo-theme/src/palettes/core.less
  packages/halo-theme/src/palettes/icon.less
  packages/halo-theme/src/palettes/secondary.less
  packages/halo-theme/src/palettes/typography.less
  packages/halo-theme/src/palettes/visualisation.less
  packages/halo-theme/src/variants/dark/overrides.less
  packages/halo-theme/src/variants/dark/variables.less
  packages/halo-theme/src/variants/light/overrides.less
  packages/halo-theme/src/variants/light/variables.less
  packages/solar-theme/src/colours.less
  packages/solar-theme/src/variants/charcoal/overrides.less
  packages/solar-theme/src/variants/charcoal/variables.less
  packages/solar-theme/src/variants/pearl/overrides.less
  packages/solar-theme/src/variants/pearl/variables.less
Due: none

refactor(configuration): add unit test and refactor
  packages/elements/src/configuration/__test__/configuration.test.js
  packages/elements/src/configuration/elements/configuration.ts
  packages/elements/src/configuration/helpers/context.ts
  packages/elements/src/configuration/helpers/types.ts
  packages/elements/src/configuration/index.ts
Due: eslint --fix, prettier --write --ignore-unknown

chore(configuration): typo
  packages/elements/src/icon/__test__/icon.test.js
  packages/elements/src/icon/index.ts
Due: eslint --fix, prettier --write --ignore-unknown

docs(configuration): update typo
  documents/src/pages/elements/configuration.md
Due: prettier --write --ignore-unknown

chore(release): publish [skip ci]
  documents/CHANGELOG.md
  documents/package.json
  package-lock.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/demo-block/CHANGELOG.md
  packages/demo-block/package.json
  packages/elemental-theme/CHANGELOG.md
  packages/elemental-theme/package.json
  packages/elements/CHANGELOG.md
  packages/elements/package.json
  packages/halo-theme/CHANGELOG.md
  packages/halo-theme/package.json
  packages/solar-theme/CHANGELOG.md
  packages/solar-theme/package.json
  packages/translate/CHANGELOG.md
  packages/translate/package.json
Due: prettier --write --ignore-unknown

style: fix indent eslint and prettier clash
  packages/configurations/eslint-config.js
  packages/elements/src/datetime-picker/index.ts
  packages/elements/src/dialog/draggable-element.ts
  packages/elements/src/overlay/elements/overlay.ts
  packages/elements/src/overlay/managers/interaction-lock-manager.ts
  packages/elements/src/slider/index.ts
  packages/elements/src/time-picker/index.ts
  packages/translate/src/translate.ts
  packages/utils/src/date/Locale.ts
Due: eslint --fix, prettier --write --ignore-unknown

chore: update build cache key of setup action
  .github/actions/setup/action.yml
Due: prettier --write --ignore-unknown

feat(configuration): add configuration element with a support icon map (#710)
  package-lock.json
  packages/elements/package.json
  packages/elements/src/configuration/__demo__/index.html
  packages/elements/src/configuration/__test__/configuration.test.js
  packages/elements/src/configuration/elements/configuration.ts
  packages/elements/src/configuration/helpers/context.ts
  packages/elements/src/configuration/helpers/types.ts
  packages/elements/src/configuration/index.ts
  packages/elements/src/icon/__test__/helpers/helpers.js
  packages/elements/src/icon/__test__/icon.test.js
  packages/elements/src/icon/index.ts
  packages/utils/src/loader/svg-loader.ts
Due: eslint --fix, prettier --write --ignore-unknown

chore(release): publish [skip ci]
  package-lock.json
  packages/core/package.json
  packages/demo-block/package.json
  packages/elements/package.json
  packages/translate/package.json
  packages/utils/package.json
Due: prettier --write --ignore-unknown

docs(configuration): update demo inside document
  documents/src/pages/elements/configuration.md
Due: prettier --write --ignore-unknown

test: fix calendar view button template
  packages/elements/src/calendar/index.ts
Due: eslint --fix, prettier --write --ignore-unknown

chore: update lock-file
  package-lock.json
Due: prettier --write --ignore-unknown

fix: glob import path
  packages/theme-compiler/src/fileManager.js
Due: eslint --fix, prettier --write --ignore-unknown

chore: reverts lerna to lerna 5
  package-lock.json
  package.json
Due: prettier --write --ignore-unknown

chore: revert changes in theme compiler
  package-lock.json
  packages/theme-compiler/package.json
  packages/theme-compiler/src/fileManager.js
Due: eslint --fix, prettier --write --ignore-unknown

chore: update dependencies
  package-lock.json
Due: prettier --write --ignore-unknown

Revert "chore: update dependencies"
  package-lock.json
Due: prettier --write --ignore-unknown

docs(chart): add example horizontal bar chart (#724)
  documents/package.json
  documents/src/pages/elements/chart.md
  package-lock.json
Due: prettier --write --ignore-unknown

docs(configuration): update docs demo
  documents/src/pages/elements/configuration.md
Due: prettier --write --ignore-unknown

chore: remove tag next
  package-lock.json
  packages/core/package.json
  packages/demo-block/package.json
  packages/elements/package.json
  packages/translate/package.json
  packages/utils/package.json
Due: prettier --write --ignore-unknown

docs: fix pipeline fail
  documents/package.json
Due: prettier --write --ignore-unknown

chore: update dependency
  documents/package.json
Due: prettier --write --ignore-unknown

docs(configuration): add configuration document (#723)
  documents/package.json
  documents/src/pages/elements/configuration.md
Due: prettier --write --ignore-unknown

chore(release): publish [skip ci]
  documents/CHANGELOG.md
  documents/package.json
  package-lock.json
  packages/configurations/CHANGELOG.md
  packages/configurations/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/create-efx/CHANGELOG.md
  packages/create-efx/package.json
  packages/demo-block/CHANGELOG.md
  packages/demo-block/package.json
  packages/elemental-theme/CHANGELOG.md
  packages/elemental-theme/package.json
  packages/elements/CHANGELOG.md
  packages/elements/package.json
  packages/halo-theme/CHANGELOG.md
  packages/halo-theme/package.json
  packages/i18n/CHANGELOG.md
  packages/i18n/package.json
  packages/phrasebook/CHANGELOG.md
  packages/phrasebook/package.json
  packages/polyfills/CHANGELOG.md
  packages/polyfills/package.json
  packages/solar-theme/CHANGELOG.md
  packages/solar-theme/package.json
  packages/test-helpers/CHANGELOG.md
  packages/test-helpers/package.json
  packages/theme-compiler/CHANGELOG.md
  packages/theme-compiler/package.json
  packages/translate/CHANGELOG.md
  packages/translate/package.json
  packages/utils/CHANGELOG.md
  packages/utils/package.json
Due: prettier --write --ignore-unknown

chore: update build cache key of setup action (#730)
  .github/actions/setup/action.yml
Due: prettier --write --ignore-unknown

fix(chart): fix support donut by bare style
  package-lock.json
  packages/elements/src/chart/elements/chart.ts
Due: eslint --fix, prettier --write --ignore-unknown

refactor(chart): reduce cognitive complex
  packages/elements/src/chart/elements/chart.ts
Due: eslint --fix, prettier --write --ignore-unknown

refactor(chart): gather call condition of generateArcLegendLabels
  packages/elements/src/chart/elements/chart.ts
Due: eslint --fix, prettier --write --ignore-unknown

chore: add conventional graduate option production release
  .github/workflows/prod_release.yml
Due: prettier --write --ignore-unknown

Path conditions:
  eslint --fix: any of: *.{js,ts}
  prettier --write --ignore-unknown: any of: *.{js,mjs,ts,css,json,html,yml,md}
