Repository Refinitiv/refinitiv-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write --ignore-unknown

.lintstagedrc.json:

{
  "*.{js,ts}": "eslint --fix",
  "*.{js,mjs,ts,css,less,json,html,yml,md}": "prettier --write --ignore-unknown"
}

fix(autosuggest): add box shadow
  packages/ds-theme/src/custom-elements/ef-autosuggest.less
Due: prettier --write --ignore-unknown

fix(number-field): incorrect border radius in ds theme
  packages/ds-theme/src/custom-elements/ef-number-field.less
Due: prettier --write --ignore-unknown

fix(tree-select): incorrect border radius in ds theme
  packages/ds-theme/src/custom-elements/ef-tree-select.less
Due: prettier --write --ignore-unknown

fix(ds-theme): enhance style in ds theme (#1251)
  packages/ds-theme/src/custom-elements/ef-autosuggest.less
  packages/ds-theme/src/custom-elements/ef-combo-box.less
  packages/ds-theme/src/custom-elements/ef-datetime-picker.less
  packages/ds-theme/src/custom-elements/ef-number-field.less
  packages/ds-theme/src/custom-elements/ef-tab.less
  packages/ds-theme/src/custom-elements/ef-tree-select.less
Due: prettier --write --ignore-unknown

fix(combo-box): incorrect border radius in ds theme
  packages/ds-theme/src/custom-elements/ef-combo-box.less
Due: prettier --write --ignore-unknown

fix(tab): incorrect text color on pressed state in ds theme
  packages/ds-theme/src/custom-elements/ef-tab.less
Due: prettier --write --ignore-unknown

fix(datetime-picker): incorrect icon color of text field in ds theme
  packages/ds-theme/src/custom-elements/ef-datetime-picker.less
Due: prettier --write --ignore-unknown

chore(release): publish [skip ci]
  documents/CHANGELOG.md
  documents/package.json
  package-lock.json
  packages/ds-theme/CHANGELOG.md
  packages/ds-theme/package.json
  packages/elements/CHANGELOG.md
  packages/elements/package.json
Due: prettier --write --ignore-unknown

chore: update nanoid version for security
  package-lock.json
  packages/phrasebook/package.json
  packages/test-helpers/package.json
  packages/theme-compiler/package.json
Due: prettier --write --ignore-unknown

chore: update package-lock
  package-lock.json
Due: prettier --write --ignore-unknown

fix(interactive-chart): hide tradingview default attribution logo
  .gitignore
  package-lock.json
  packages/elements/package.json
  packages/elements/src/interactive-chart/index.ts
Due: eslint --fix, prettier --write --ignore-unknown

fix(interactive-chart): hide tradingview default attribution logo
  packages/elements/src/interactive-chart/__test__/__snapshots__/interactive-chart.test.snap.js
Due: eslint --fix, prettier --write --ignore-unknown

Update packages/elements/src/interactive-chart/index.ts
  packages/elements/src/interactive-chart/index.ts
Due: eslint --fix, prettier --write --ignore-unknown

fix(interactive-chart): hide tradingview default attribution logo
  package-lock.json
  packages/elements/src/interactive-chart/__test__/__snapshots__/interactive-chart.test.snap.js
  packages/theme-compiler/package.json
Due: eslint --fix, prettier --write --ignore-unknown

fix(interactive-chart): hide tradingview default attribution logo
  .gitignore
Due: none

chore: update nanoid version for security (#1252)
  package-lock.json
  packages/phrasebook/package.json
  packages/test-helpers/package.json
  packages/theme-compiler/package.json
Due: prettier --write --ignore-unknown

docs(datetime-picker): fix code in sandbox
  documents/src/pages/elements/datetime-picker.md
Due: prettier --write --ignore-unknown

docs(datetime-picker): fix code in sandbox
  documents/src/pages/elements/datetime-picker.md
  packages/elements/src/datetime-picker/__demo__/index.html
Due: prettier --write --ignore-unknown

Update packages/elements/src/datetime-picker/__demo__/index.html
  packages/elements/src/datetime-picker/__demo__/index.html
Due: prettier --write --ignore-unknown

docs(datetime-picker): update docs
  documents/src/pages/elements/datetime-picker.md
  packages/elements/src/datetime-picker/__demo__/index.html
Due: prettier --write --ignore-unknown

docs(datetime-picker): fix code in sandbox (#1254)
  documents/src/pages/elements/datetime-picker.md
  packages/elements/src/datetime-picker/__demo__/index.html
Due: prettier --write --ignore-unknown

chore(phrasebook): remove unnecessary esm package
  package-lock.json
  packages/phrasebook/package.json
Due: prettier --write --ignore-unknown

test(swing-gauge): update test case for halo theme
  packages/elements/src/swing-gauge/__test__/swing-gauge.test.js
Due: eslint --fix, prettier --write --ignore-unknown

test(loader): update snapshot
  packages/elements/src/loader/__test__/__snapshots__/loader.test.snap.js
Due: eslint --fix, prettier --write --ignore-unknown

test(tab-bar): add acceptable position to validate end position of tweenAnimate
  packages/elements/src/tab-bar/__test__/helpers/animate.test.js
Due: eslint --fix, prettier --write --ignore-unknown

fix(interactive-chart): hide tradingview default attribution logo (#1253)
  package-lock.json
  packages/elements/package.json
  packages/elements/src/interactive-chart/__test__/__snapshots__/interactive-chart.test.snap.js
  packages/elements/src/interactive-chart/index.ts
  packages/theme-compiler/package.json
Due: eslint --fix, prettier --write --ignore-unknown

test(tab-bar): update fixture element for test case
  packages/elements/src/tab-bar/__test__/helpers/animate.test.js
Due: eslint --fix, prettier --write --ignore-unknown

chore: patch vite version for security vulnerable
  package-lock.json
  package.json
Due: prettier --write --ignore-unknown

chore: patch vite version for security vulnerable (#1259)
  package-lock.json
  package.json
Due: prettier --write --ignore-unknown

fix(utils): check response header when load svg
  packages/utils/src/loader/svg-loader.ts
Due: eslint --fix, prettier --write --ignore-unknown

fix(utils): handle network error when fail to load svg (#1260)
  packages/utils/src/loader/svg-loader.ts
Due: eslint --fix, prettier --write --ignore-unknown

chore: update @web/test-runner-browserstack to version 0.8.0
  package-lock.json
  package.json
Due: prettier --write --ignore-unknown
