Repository Refinitiv/refinitiv-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write --ignore-unknown

.lintstagedrc.json:

{
  "*.{js,ts}": "eslint --fix",
  "*.{js,mjs,ts,css,less,json,html,yml,md}": "prettier --write --ignore-unknown"
}

fix(interactive-chart): wrong legend color on candlestick chart
  packages/elements/src/interactive-chart/index.ts
Due: eslint --fix, prettier --write --ignore-unknown

fix(notification): `info`, `confirm`, `warn`, `error` duration should be optional (#873)
  packages/elements/src/notification/helpers/status.ts
  packages/elements/src/notification/helpers/types.ts
Due: eslint --fix, prettier --write --ignore-unknown

fix(interactive-chart): replace priceScale config with left and right priceScale due to api changed
  packages/elements/src/interactive-chart/__demo__/index.html
  packages/elements/src/interactive-chart/index.ts
Due: eslint --fix, prettier --write --ignore-unknown

chore: remove unused variables
  packages/core/__test__/elements/FormFieldElement.test.js
  packages/core/__test__/elf.test.js
  packages/elements/src/button-bar/__test__/button-bar.test.js
  packages/elements/src/card/__test__/card.test.js
  packages/elements/src/number-field/__test__/number-field.test.js
  packages/elements/src/overlay/__test__/managers/backdrop-manager.test.js
  packages/elements/src/overlay/__test__/managers/close-manager.test.js
  packages/elements/src/overlay/__test__/managers/focus-manager.test.js
  packages/elements/src/overlay/__test__/managers/viewport-manager.test.js
  packages/elements/src/pagination/__test__/pagination.test.js
  packages/elements/src/search-field/__test__/search-field.test.js
  packages/elements/src/text-field/__test__/text-field.test.js
  packages/elements/src/tree-select/__test__/tree-select.interaction.test.js
  packages/i18n/__test__/i18n.test.js
Due: eslint --fix, prettier --write --ignore-unknown

chore: enable disbled test cases
  packages/elements/src/overlay/__test__/managers/focus-manager.test.js
  packages/elements/src/tree-select/__test__/tree-select.test.js
Due: eslint --fix, prettier --write --ignore-unknown

refactor: simplify test suite
  packages/elements/src/overlay/__test__/managers/focus-manager.test.js
Due: eslint --fix, prettier --write --ignore-unknown

fix(interactive-chart): fix wrong data item legend on volumn chart
  packages/elements/src/interactive-chart/index.ts
Due: eslint --fix, prettier --write --ignore-unknown

docs: refactor autosuggest docs
  documents/src/pages/elements/autosuggest.md
Due: prettier --write --ignore-unknown

test: resolve duplicate test titles
  packages/core/__test__/elements/ControlElement.test.js
  packages/core/__test__/elf.test.js
  packages/elements/src/canvas/__test__/canvas.test.js
  packages/elements/src/chart/__test__/chart.test.js
  packages/elements/src/interactive-chart/__test__/interactive-chart.test.js
  packages/elements/src/number-field/__test__/number-field.test.js
  packages/elements/src/slider/__test__/slider.test.js
Due: eslint --fix, prettier --write --ignore-unknown

docs: improve code samples
  documents/src/pages/elements/multi-input.md
  documents/src/pages/elements/select.md
  documents/src/pages/elements/time-picker.md
  documents/src/pages/elements/tree-select.md
Due: prettier --write --ignore-unknown

test: remove setup logic in describe blocks
  packages/core/__test__/elements/BasicElement.test.js
  packages/core/__test__/elements/ControlElement.test.js
  packages/core/__test__/events/TapEvent.test.js
  packages/elements/src/button/__test__/button.test.js
  packages/elements/src/flag/__test__/flag.test.js
  packages/elements/src/overlay/__test__/overlay-position-target.test.js
  packages/i18n/__test__/i18n.test.js
  packages/test-helpers/__test__/test-helpers.test.js
Due: eslint --fix, prettier --write --ignore-unknown

fix(interactive-chart): wrong legend color on candlestick chart (#874)
  packages/elements/src/interactive-chart/index.ts
Due: eslint --fix, prettier --write --ignore-unknown

chore: fix wrong format command
  package.json
Due: prettier --write --ignore-unknown

fix(interactive-chart): replace priceScale config with left and right priceScale due to api changed (#875)
  packages/elements/src/interactive-chart/__demo__/index.html
  packages/elements/src/interactive-chart/index.ts
Due: eslint --fix, prettier --write --ignore-unknown

chore: fix wrong format command (#877)
  package.json
Due: prettier --write --ignore-unknown

chore: fix wrong prettier format command (#878)
  package.json
Due: prettier --write --ignore-unknown

chore: refactor semgrep scan in pr check
  .github/workflows/pr_check.yml
Due: prettier --write --ignore-unknown

fix: correct variable name
  .github/workflows/semgrep.yml
Due: prettier --write --ignore-unknown

ci: fix job name
  .github/workflows/pr_check.yml
  .github/workflows/run_semgrep_scan.yml
  .github/workflows/semgrep.yml
Due: prettier --write --ignore-unknown

chore: add semgrep scanning to PR & manual workflow
  .github/workflows/pr_check.yml
  .github/workflows/run_semgrep_scan.yml
  .github/workflows/semgrep.yml
  .semgrepconfig
Due: prettier --write --ignore-unknown

refactor: revise input description
  .github/workflows/run_semgrep_scan.yml
Due: prettier --write --ignore-unknown

chore: add semgrep scanning to PR & manual workflow (#879)
  .github/workflows/pr_check.yml
  .github/workflows/run_semgrep_scan.yml
  .github/workflows/semgrep.yml
  .semgrepconfig
Due: prettier --write --ignore-unknown

chore: add semgrep scanning to PR & manual workflow (#871)
  .github/workflows/pr_check.yml
  .github/workflows/run_semgrep_scan.yml
  .github/workflows/semgrep.yml
  .semgrepconfig
Due: prettier --write --ignore-unknown

chore: add .semgrepignore to fix its default ignore issue
  .semgrepignore
Due: none

chore: add .semgrepignore to fix its default ignore issue (#881)
  .semgrepignore
Due: none

chore: add .semgrepignore to fix its default ignore issue (#880)
  .semgrepignore
Due: none

fix(chart): use single color on bar and bubble chart
  packages/elements/src/chart/__demo__/index.html
  packages/elements/src/chart/__test__/chart.test.js
  packages/elements/src/chart/elements/chart.ts
Due: eslint --fix, prettier --write --ignore-unknown

chore(chart): remove comment
  packages/elements/src/chart/elements/chart.ts
Due: eslint --fix, prettier --write --ignore-unknown

test(autosuggest): replace arrow function with function expression
  packages/elements/src/autosuggest/__test__/autosuggest-functional.test.js
Due: eslint --fix, prettier --write --ignore-unknown

test(appstate-bar): add missing await for element update
  packages/elements/src/appstate-bar/__test__/appstate-bar.test.js
Due: eslint --fix, prettier --write --ignore-unknown

fix(chart): using single color on bar chart with single dataset
  packages/elements/src/chart/__demo__/index.html
  packages/elements/src/chart/__test__/chart.test.js
  packages/elements/src/chart/index.ts
Due: eslint --fix, prettier --write --ignore-unknown

ci: update action version
  .github/workflows/labeler.yml
Due: prettier --write --ignore-unknown

ci: update secrets
  .github/workflows/labeler.yml
Due: prettier --write --ignore-unknown
