Repository Refinitiv/refinitiv-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write --ignore-unknown

feat(number-field): support long press at spinner
  packages/elements/src/number-field/__test__/number-field.step.test.js
  packages/elements/src/number-field/__test__/number-field.test.js
  packages/elements/src/number-field/index.ts
Due: eslint --fix, prettier --write --ignore-unknown

test(number-field): remove unused test
  packages/elements/src/number-field/__test__/number-field.test.js
Due: eslint --fix, prettier --write --ignore-unknown

docs: fix configuration document
  packages/elements/src/configuration/elements/configuration.ts
Due: eslint --fix, prettier --write --ignore-unknown

chore: remove `.mjs` from format command
  package.json
Due: prettier --write --ignore-unknown

chore: update postcss to fix vulnerability
  package-lock.json
Due: prettier --write --ignore-unknown

chore: update get-func-name to fix vulnerability
  package-lock.json
Due: prettier --write --ignore-unknown

fix: adding await to `isValidAPI()` function that returns a Promise
  scripts/release/api-analyzer.cjs
Due: none

refactor: replace `for` loop with `for of`
  packages/theme-compiler/src/fileManager.js
Due: eslint --fix, prettier --write --ignore-unknown

refactor: replace IIFE with simple try catch and utilise `getJson()` util
  packages/theme-compiler/bin/theme-compiler.js
Due: eslint --fix, prettier --write --ignore-unknown

refactor: simplify `getElementFiles()`
  packages/theme-compiler/src/fileManager.js
  packages/theme-compiler/src/helpers.js
Due: eslint --fix, prettier --write --ignore-unknown

chore: separate version in Blackduck development project
  .github/workflows/blackduck_scan.yml
Due: prettier --write --ignore-unknown

fix: theme's `package.json` should be relative to current working directory
  packages/theme-compiler/src/helpers.js
Due: eslint --fix, prettier --write --ignore-unknown

refactor: remove `log()` out of try...catch block
  scripts/release/api-analyzer.cjs
Due: none

refactor: simplify URL creation
  packages/theme-compiler/bin/theme-compiler.js
  packages/theme-compiler/src/helpers.js
  scripts/release/api-analyzer.cjs
Due: eslint --fix, prettier --write --ignore-unknown

docs: move event warning to global
  documents/scripts/element.injector.mjs
  documents/src/templates/event-warning.md
  packages/elements/src/button/index.ts
  packages/elements/src/calendar/index.ts
  packages/elements/src/checkbox/index.ts
  packages/elements/src/clock/index.ts
  packages/elements/src/collapse/index.ts
  packages/elements/src/color-dialog/index.ts
  packages/elements/src/color-picker/index.ts
  packages/elements/src/combo-box/index.ts
  packages/elements/src/datetime-picker/index.ts
  packages/elements/src/dialog/index.ts
  packages/elements/src/email-field/index.ts
  packages/elements/src/list/elements/list.ts
  packages/elements/src/multi-input/index.ts
  packages/elements/src/notification/elements/notification.ts
  packages/elements/src/number-field/index.ts
  packages/elements/src/overlay-menu/index.ts
  packages/elements/src/overlay/elements/overlay.ts
  packages/elements/src/pagination/index.ts
  packages/elements/src/password-field/index.ts
  packages/elements/src/radio-button/index.ts
  packages/elements/src/rating/index.ts
  packages/elements/src/search-field/index.ts
  packages/elements/src/select/index.ts
  packages/elements/src/slider/index.ts
  packages/elements/src/tab-bar/index.ts
  packages/elements/src/text-field/index.ts
  packages/elements/src/time-picker/index.ts
  packages/elements/src/toggle/index.ts
  packages/elements/src/tree-select/index.ts
  packages/elements/src/tree/elements/tree.ts
Due: eslint --fix, prettier --write --ignore-unknown

chore: update to lerna 7 and nx 16
  lerna.json
  migrations.json
  nx.json
  package-lock.json
  package.json
Due: prettier --write --ignore-unknown

chore: cleanup unnecessary stuffs
  migrations.json
  package-lock.json
  package.json
Due: prettier --write --ignore-unknown

chore: update dependencies
  lerna.json
  nx.json
  package-lock.json
  package.json
Due: prettier --write --ignore-unknown

chore: exclude dep dependencies from blackduck scan
  .github/workflows/blackduck_scan.yml
Due: prettier --write --ignore-unknown

chore: upgrade less
  package-lock.json
  packages/theme-compiler/package.json
Due: prettier --write --ignore-unknown

fix(time-picker): remove pre populate value add new isolate update mode
  packages/elements/src/time-picker/index.ts
Due: eslint --fix, prettier --write --ignore-unknown

fix(password-field, phrasebook): improve show password announcement (#990)
  packages/elements/src/password-field/__snapshots__/PasswordField.md
  packages/elements/src/password-field/__test__/password-field.test.js
  packages/elements/src/password-field/index.ts
  packages/phrasebook/src/locale/de/password-field.ts
  packages/phrasebook/src/locale/en/password-field.ts
  packages/phrasebook/src/locale/ja/password-field.ts
  packages/phrasebook/src/locale/zh-hant/password-field.ts
  packages/phrasebook/src/locale/zh/password-field.ts
  packages/utils/src/accessibility.ts
  packages/utils/src/accessibility/helpers.ts
Due: eslint --fix, prettier --write --ignore-unknown

fix(password-field, phrasebook): improve show password announcement (#962)
  package-lock.json
  packages/elements/scripts/cmd/start.mjs
  packages/elements/src/password-field/__test__/__snapshots__/password-field.test.snap.js
  packages/elements/src/password-field/__test__/password-field.test.js
  packages/elements/src/password-field/index.ts
  packages/phrasebook/src/locale/de/password-field.ts
  packages/phrasebook/src/locale/en/password-field.ts
  packages/phrasebook/src/locale/ja/password-field.ts
  packages/phrasebook/src/locale/zh-hant/password-field.ts
  packages/phrasebook/src/locale/zh/password-field.ts
  packages/utils/src/accessibility.ts
  packages/utils/src/accessibility/helpers.ts
Due: eslint --fix, prettier --write --ignore-unknown

Update packages/elements/src/number-field/__test__/number-field.step.test.js
  packages/elements/src/number-field/__test__/number-field.step.test.js
Due: eslint --fix, prettier --write --ignore-unknown

test(number-field): fix test case
  packages/elements/src/number-field/__test__/number-field.step.test.js
Due: eslint --fix, prettier --write --ignore-unknown

chore: change template name
  documents/scripts/element.injector.mjs
  documents/src/templates/event-notice.md
Due: prettier --write --ignore-unknown

chore: revise api analyzer code
  documents/scripts/element.injector.mjs
Due: prettier --write --ignore-unknown

chore: improve api docs
  packages/elements/src/autosuggest/index.ts
  packages/elements/src/button/index.ts
  packages/elements/src/chart/elements/chart.ts
  packages/elements/src/clock/index.ts
  packages/elements/src/combo-box/index.ts
  packages/elements/src/pagination/index.ts
Due: eslint --fix, prettier --write --ignore-unknown

refactor: remove duplicated error change notification
  packages/core/src/elements/FormFieldElement.ts
Due: eslint --fix, prettier --write --ignore-unknown

chore: update playwright
  package-lock.json
Due: prettier --write --ignore-unknown

feat(text-field): prevent constraint validation if there is none
  packages/elements/src/text-field/__test__/text-field.validation.test.js
  packages/elements/src/text-field/index.ts
Due: eslint --fix, prettier --write --ignore-unknown

feat(number-field): prevent constraint validation if there is none
  packages/elements/src/number-field/__demo__/index.html
  packages/elements/src/number-field/__test__/number-field.test.js
  packages/elements/src/number-field/index.ts
Due: eslint --fix, prettier --write --ignore-unknown

revert: "docs: move event warning to global"
  documents/scripts/element.injector.mjs
  documents/src/templates/event-notice.md
  packages/elements/src/button/index.ts
  packages/elements/src/calendar/index.ts
  packages/elements/src/checkbox/index.ts
  packages/elements/src/clock/index.ts
  packages/elements/src/collapse/index.ts
  packages/elements/src/color-dialog/index.ts
  packages/elements/src/color-picker/index.ts
  packages/elements/src/combo-box/index.ts
  packages/elements/src/datetime-picker/index.ts
  packages/elements/src/dialog/index.ts
  packages/elements/src/email-field/index.ts
  packages/elements/src/list/elements/list.ts
  packages/elements/src/multi-input/index.ts
  packages/elements/src/notification/elements/notification.ts
  packages/elements/src/number-field/index.ts
  packages/elements/src/overlay-menu/index.ts
  packages/elements/src/overlay/elements/overlay.ts
  packages/elements/src/pagination/index.ts
  packages/elements/src/password-field/index.ts
  packages/elements/src/radio-button/index.ts
  packages/elements/src/rating/index.ts
  packages/elements/src/search-field/index.ts
  packages/elements/src/select/index.ts
  packages/elements/src/slider/index.ts
  packages/elements/src/tab-bar/index.ts
  packages/elements/src/text-field/index.ts
  packages/elements/src/time-picker/index.ts
  packages/elements/src/toggle/index.ts
  packages/elements/src/tree-select/index.ts
  packages/elements/src/tree/elements/tree.ts
Due: eslint --fix, prettier --write --ignore-unknown

docs: change default value of configuration JSDOC
  packages/elements/src/configuration/elements/configuration.ts
Due: eslint --fix, prettier --write --ignore-unknown

docs: update autosuggest event JSDOC
  packages/elements/src/autosuggest/index.ts
Due: eslint --fix, prettier --write --ignore-unknown

docs: add missing event details in JSDOC
  packages/elements/src/autosuggest/index.ts
  packages/elements/src/datetime-picker/index.ts
Due: eslint --fix, prettier --write --ignore-unknown

Path conditions:
  eslint --fix: any of: *.{js,ts}
  prettier --write --ignore-unknown: any of: *.{js,mjs,ts,css,less,json,html,yml,md}
