Repository Refinitiv/refinitiv-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write --ignore-unknown

style: fix linting errora
  packages/elements/src/heatmap/index.ts
Due: eslint --fix, prettier --write --ignore-unknown

fix(heatmap): `HeatmapCell` properties other than `value` should be optional (#866)
  packages/elements/src/heatmap/__demo__/color.html
  packages/elements/src/heatmap/__demo__/custom-cell.html
  packages/elements/src/heatmap/__demo__/event.html
  packages/elements/src/heatmap/__demo__/index.html
  packages/elements/src/heatmap/helpers/types.ts
  packages/elements/src/heatmap/index.ts
Due: eslint --fix, prettier --write --ignore-unknown

docs: fix pagination typo
  documents/src/pages/elements/pagination.md
Due: prettier --write --ignore-unknown

docs: add ts to autosuggest
  documents/src/pages/elements/autosuggest.md
Due: prettier --write --ignore-unknown

refactor(create-efx): add extension to import statement
  packages/create-efx/template/test/efx-element.test.js
Due: eslint --fix, prettier --write --ignore-unknown

chore: configure eslint for unit test
  .eslintignore
  .eslintrc
  package-lock.json
  packages/configurations/eslint-config.js
  packages/configurations/package.json
  packages/configurations/typescript.eslint-config.js
Due: eslint --fix, prettier --write --ignore-unknown

chore: remove async in describe callback
  packages/core/__test__/elements/BasicElement.test.js
  packages/core/__test__/elements/ControlElement.test.js
  packages/core/__test__/events/TapEvent.test.js
  packages/elements/src/autosuggest/__test__/autosuggest-functional.test.js
  packages/elements/src/autosuggest/__test__/autosuggest.test.js
  packages/elements/src/calendar/__test__/calendar.navigation.test.js
  packages/elements/src/interactive-chart/__test__/interactive-chart.test.js
  packages/elements/src/list/__test__/list.test.js
  packages/elements/src/multi-input/__test__/multi-input.test.js
  packages/elements/src/overlay-menu/__test__/overlay-menu.interaction.test.js
  packages/elements/src/overlay/__test__/managers/zindex-manager.test.js
  packages/elements/src/overlay/__test__/overlay-position-target.test.js
Due: eslint --fix, prettier --write --ignore-unknown

chore: lint quote
  packages/elements/src/button/__test__/button.test.js
  packages/elements/src/checkbox/__test__/checkbox.test.js
  packages/elements/src/combo-box/__test__/combo-box.value.test.js
  packages/elements/src/list/__test__/list.test.js
  packages/elements/src/radio-button/__test__/radio-button.test.js
  packages/elements/src/slider/__test__/slider.keyboard.test.js
  packages/elements/src/swing-gauge/__test__/swing-gauge.test.js
  packages/elements/src/text-field/__test__/text-field.test.js
Due: eslint --fix, prettier --write --ignore-unknown

chore: lint one variable per line
  packages/elements/src/label/__test__/label.legacy.test.js
  packages/elements/src/label/__test__/label.test.js
  packages/elements/src/overlay/__test__/managers/focus-manager.test.js
Due: eslint --fix, prettier --write --ignore-unknown

chore: simplify tretiary operator
  packages/elements/src/radio-button/__test__/radio-button.test.js
Due: eslint --fix, prettier --write --ignore-unknown

chore: remove unnecessary export & fix jsdoc
  packages/elements/src/color-picker/__test__/color-picker.test.js
  packages/elements/src/multi-input/__test__/multi-input.test.js
Due: eslint --fix, prettier --write --ignore-unknown

fix(ci): rename jobs
  .github/workflows/blackduck_scan.yml
  .github/workflows/dev_release.yml
  .github/workflows/main_branch_check.yml
  .github/workflows/pr_check.yml
  .github/workflows/pre_release.yml
  .github/workflows/prod_release.yml
  .github/workflows/size_report.yml
  .github/workflows/test_browserstack.yml
Due: prettier --write --ignore-unknown

chore: cleanup console log
  packages/elements/src/overlay/__test__/elements/overlay.test.js
Due: eslint --fix, prettier --write --ignore-unknown

fix(ci): rename jobs
  .github/workflows/dev_release.yml
Due: prettier --write --ignore-unknown

chore: fix radix
  packages/elements/src/tooltip/__test__/tooltip.test.js
Due: eslint --fix, prettier --write --ignore-unknown

fix(ci): rename jobs
  .github/workflows/test_browserstack.yml
Due: prettier --write --ignore-unknown

chore: fix assignment in return statement
  packages/elements/src/overlay/__test__/elements/overlay.test.js
  packages/elements/src/pagination/__test__/pagination.test.js
Due: eslint --fix, prettier --write --ignore-unknown

fix(ci): rename jobs
  .github/workflows/main_branch_check.yml
  .github/workflows/pr_check.yml
  .github/workflows/test_browserstack.yml
  .github/workflows/test_nightly_v7.yml
Due: prettier --write --ignore-unknown

refactor(ci): sync jobs with v7
  .github/workflows/pr_check.yml
  .github/workflows/size_report.yml
  .github/workflows/test_browserstack.yml
Due: prettier --write --ignore-unknown

ci: sync workflow name with v7 (#863)
  .github/workflows/blackduck_scan.yml
  .github/workflows/dev_release.yml
  .github/workflows/main_branch_check.yml
  .github/workflows/pr_check.yml
  .github/workflows/pre_release.yml
  .github/workflows/prod_release.yml
  .github/workflows/size_report.yml
  .github/workflows/test_browserstack.yml
  .github/workflows/test_nightly_v7.yml
Due: prettier --write --ignore-unknown

chore(release): publish [skip ci]
  documents/CHANGELOG.md
  documents/package.json
  package-lock.json
  packages/elements/CHANGELOG.md
  packages/elements/package.json
Due: prettier --write --ignore-unknown

chore: add semgrep scanning workflow
  .github/workflows/semgrep.yml
Due: prettier --write --ignore-unknown

chore: cleanup workflow file
  .github/workflows/semgrep.yml
Due: prettier --write --ignore-unknown

chore: add semgrep config file
  .semgrepconfig
Due: none

chore: workflow trigger to on push for testing
  .github/workflows/semgrep.yml
Due: prettier --write --ignore-unknown

chore: add verbose input for scan option
  .github/workflows/semgrep.yml
Due: prettier --write --ignore-unknown

feat: add typescript to heatmap docs
  documents/src/pages/elements/heatmap.md
Due: prettier --write --ignore-unknown

fix(notification): `info`, `confirm`, `warn`, `error` duration should be optional
  packages/elements/src/notification/helpers/status.ts
  packages/elements/src/notification/helpers/types.ts
Due: eslint --fix, prettier --write --ignore-unknown

refactor: interactive chart types incorrect
  packages/elements/src/interactive-chart/helpers/types.ts
  packages/elements/src/interactive-chart/index.ts
Due: eslint --fix, prettier --write --ignore-unknown

chore: refactor as a reusable workflow
  .github/workflows/semgrep.yml
Due: prettier --write --ignore-unknown

chore: add semgrep scan to PR check and manual workflow
  .github/workflows/pr_check.yml
  .github/workflows/semgrep_scan.yml
Due: prettier --write --ignore-unknown

chore: fix incorrect cli option
  .github/workflows/semgrep.yml
Due: prettier --write --ignore-unknown

chore: rename workflow
  .github/workflows/run_semgrep_scan.yml
Due: prettier --write --ignore-unknown

fix(notification): `info`, `confirm`, `warn`, `error` duration should be optional (#872)
  packages/elements/src/notification/helpers/status.ts
  packages/elements/src/notification/helpers/types.ts
Due: eslint --fix, prettier --write --ignore-unknown

docs: refactor interactive chart docs
  documents/src/pages/elements/interactive-chart.md
Due: prettier --write --ignore-unknown

Path conditions:
  eslint --fix: any of: *.{js,ts}
  prettier --write --ignore-unknown: any of: *.{js,mjs,ts,css,less,json,html,yml,md}
