Repository Refinitiv/refinitiv-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write --ignore-unknown

chore: update @web/test-runner-browserstack to version 0.8.0 (#1261)
  package-lock.json
  package.json
Due: prettier --write --ignore-unknown

chore(release): publish [skip ci]
  documents/CHANGELOG.md
  documents/package.json
  package-lock.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/demo-block/CHANGELOG.md
  packages/demo-block/package.json
  packages/ds-theme/CHANGELOG.md
  packages/ds-theme/package.json
  packages/elemental-theme/CHANGELOG.md
  packages/elemental-theme/package.json
  packages/elements/CHANGELOG.md
  packages/elements/package.json
  packages/halo-theme/CHANGELOG.md
  packages/halo-theme/package.json
  packages/i18n/CHANGELOG.md
  packages/i18n/package.json
  packages/phrasebook/CHANGELOG.md
  packages/phrasebook/package.json
  packages/solar-theme/CHANGELOG.md
  packages/solar-theme/package.json
  packages/test-helpers/CHANGELOG.md
  packages/test-helpers/package.json
  packages/theme-compiler/CHANGELOG.md
  packages/theme-compiler/package.json
  packages/translate/CHANGELOG.md
  packages/translate/package.json
  packages/utils/CHANGELOG.md
  packages/utils/package.json
Due: prettier --write --ignore-unknown

chore: remove blackduck scanning
  .github/workflows/blackduck_scan.yml
  .github/workflows/main_branch_check.yml
  .github/workflows/pr_check.yml
Due: prettier --write --ignore-unknown

chore: remove blackduck scanning (#1264)
  .github/workflows/blackduck_scan.yml
  .github/workflows/main_branch_check.yml
  .github/workflows/pr_check.yml
Due: prettier --write --ignore-unknown

chore: remove blackduck scanning (#1263)
  .github/workflows/blackduck_scan.yml
  .github/workflows/main_branch_check.yml
  .github/workflows/pr_check.yml
Due: prettier --write --ignore-unknown

chore: update @web/dev-server-esbuild & koa
  package-lock.json
  package.json
Due: prettier --write --ignore-unknown

chore: update koa
  package-lock.json
Due: prettier --write --ignore-unknown

chore: update @web/dev-server-esbuild & koa (#1265)
  package-lock.json
  package.json
Due: prettier --write --ignore-unknown

chore: update koa (#1266)
  package-lock.json
Due: prettier --write --ignore-unknown

docs: remove "design system" term usage
  CONTRIBUTING.md
  README.md
  documents/src/index.md
  documents/src/pages/accessibility.md
  documents/src/pages/elements/efx-grid.md
  documents/src/pages/start/styling.md
  documents/src/pages/styles/typography.md
  packages/elements/README.md
Due: prettier --write --ignore-unknown

docs: remove "design system" term usage (#1267)
  CONTRIBUTING.md
  README.md
  documents/src/index.md
  documents/src/pages/accessibility.md
  documents/src/pages/elements/efx-grid.md
  documents/src/pages/start/styling.md
  documents/src/pages/styles/typography.md
  packages/elements/README.md
Due: prettier --write --ignore-unknown

chore: update dependencies particularly playwright
  package-lock.json
Due: prettier --write --ignore-unknown

fix: fix security issue report from LSEG security team as per Next.js vulnerable
  .gitignore
Due: none

feat(utils): change XHR to Response
  packages/elements/src/icon/utils/SpriteLoader.ts
  packages/utils/src/loader/cdn-loader.ts
  packages/utils/src/loader/deferred.ts
  packages/utils/src/loader/svg-loader.ts
Due: eslint --fix, prettier --write --ignore-unknown

feat(utils): export APIs
  packages/elements/src/icon/utils/SpriteLoader.ts
  packages/utils/src/loader.ts
  packages/utils/src/loader/svg-loader.ts
Due: eslint --fix, prettier --write --ignore-unknown

chore: fix @babel/runtime, tar-fs and axios vulnerability
  package-lock.json
Due: prettier --write --ignore-unknown

feat(icon): apply sprite to icon
  packages/elemental-theme/src/custom-elements/ef-icon.less
  packages/elements/src/icon/__demo__/index.html
  packages/elements/src/icon/index.ts
  packages/halo-theme/src/custom-elements/ef-icon.less
  packages/solar-theme/src/custom-elements/ef-icon.less
Due: eslint --fix, prettier --write --ignore-unknown

chore: update @babel/helpers, @babel/runtime, axios fixing security vulnerabilities
  package-lock.json
Due: prettier --write --ignore-unknown

chore: fix @babel/runtime, tar-fs and axios vulnerability (#1272)
  package-lock.json
Due: prettier --write --ignore-unknown

chore: update @babel/helpers, @babel/runtime, axios fixing security vulnerabilities (#1273)
  package-lock.json
Due: prettier --write --ignore-unknown

feat(icon): remove preload
  documents/src/pages/elements/icon.md
  packages/elemental-theme/src/custom-elements/ef-icon.less
  packages/elements/src/collapse/index.ts
  packages/elements/src/datetime-picker/index.ts
  packages/elements/src/icon/__demo__/index.html
  packages/elements/src/icon/index.ts
  packages/elements/src/icon/utils/IconLoader.ts
  packages/elements/src/password-field/index.ts
  packages/elements/src/tree/elements/tree-item.ts
  packages/halo-theme/src/custom-elements/ef-icon.less
  packages/solar-theme/src/custom-elements/ef-icon.less
Due: eslint --fix, prettier --write --ignore-unknown

docs: remove comment
  packages/elements/src/flag/index.ts
  packages/elements/src/icon/index.ts
Due: eslint --fix, prettier --write --ignore-unknown

test(icon): update test
  packages/elements/src/icon/__test__/helpers/helpers.js
  packages/elements/src/icon/__test__/icon.cdn-prefix.test.js
  packages/elements/src/icon/__test__/icon.test.js
Due: eslint --fix, prettier --write --ignore-unknown

test(icon, flag): fix tests and add more stability
  packages/elements/src/flag/__test__/flag.test.js
  packages/elements/src/flag/__test__/helpers/helpers.js
  packages/elements/src/icon/__test__/helpers/helpers.js
  packages/elements/src/icon/__test__/icon.cdn-prefix.test.js
  packages/elements/src/icon/__test__/icon.test.js
Due: eslint --fix, prettier --write --ignore-unknown

revert(icon): revert preload
  packages/elements/src/icon/utils/IconLoader.ts
Due: eslint --fix, prettier --write --ignore-unknown

test: make test more stable
  packages/elements/src/icon/__test__/icon.test.js
  packages/elements/src/icon/index.ts
  packages/elements/src/icon/utils/SpriteLoader.ts
  packages/elements/src/layout/__test__/layout.test.js
  packages/elements/src/overlay/__test__/elements/overlay.test.js
  packages/elements/src/overlay/__test__/overlay-position-target.test.js
  packages/utils/src/loader/cdn-loader.ts
  packages/utils/src/loader/deferred.ts
Due: eslint --fix, prettier --write --ignore-unknown

test: update test to be more stable
  packages/elements/src/icon/__test__/icon.cdn-prefix.test.js
  packages/elements/src/layout/__test__/layout.test.js
  packages/elements/src/overlay/__test__/elements/overlay.test.js
  packages/elements/src/overlay/__test__/overlay-position-target.test.js
  packages/elements/src/progress-bar/__test__/progress-bar.test.js
  packages/test-helpers/src/test-helpers.ts
Due: eslint --fix, prettier --write --ignore-unknown

feat(icon): add icon sprites (#1274)
  documents/src/pages/elements/icon.md
  packages/elemental-theme/src/custom-elements/ef-icon.less
  packages/elements/src/collapse/index.ts
  packages/elements/src/datetime-picker/index.ts
  packages/elements/src/flag/__test__/flag.test.js
  packages/elements/src/flag/__test__/helpers/helpers.js
  packages/elements/src/flag/index.ts
  packages/elements/src/icon/__demo__/index.html
  packages/elements/src/icon/__test__/helpers/helpers.js
  packages/elements/src/icon/__test__/icon.cdn-prefix.test.js
  packages/elements/src/icon/__test__/icon.test.js
  packages/elements/src/icon/index.ts
  packages/elements/src/icon/utils/SpriteLoader.ts
  packages/elements/src/layout/__test__/layout.test.js
  packages/elements/src/overlay/__test__/elements/overlay.test.js
  packages/elements/src/overlay/__test__/overlay-position-target.test.js
  packages/elements/src/password-field/index.ts
  packages/elements/src/progress-bar/__test__/progress-bar.test.js
  packages/elements/src/tree/elements/tree-item.ts
  packages/halo-theme/src/custom-elements/ef-icon.less
  packages/solar-theme/src/custom-elements/ef-icon.less
  packages/test-helpers/src/test-helpers.ts
  packages/utils/src/loader.ts
  packages/utils/src/loader/cdn-loader.ts
  packages/utils/src/loader/deferred.ts
  packages/utils/src/loader/svg-loader.ts
Due: eslint --fix, prettier --write --ignore-unknown

fix(tooltip): fix tooltip reopen when mouse leaves
  packages/elements/src/tooltip/index.ts
Due: eslint --fix, prettier --write --ignore-unknown

feat(datetime-picker): introduce preventCloseOnSelect to prevents the Picker from closing on date selection
  packages/elements/src/datetime-picker/__demo__/index.html
  packages/elements/src/datetime-picker/index.ts
Due: eslint --fix, prettier --write --ignore-unknown

chore(release): publish [skip ci]
  documents/CHANGELOG.md
  documents/package.json
  package-lock.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/demo-block/CHANGELOG.md
  packages/demo-block/package.json
  packages/elemental-theme/CHANGELOG.md
  packages/elemental-theme/package.json
  packages/elements/CHANGELOG.md
  packages/elements/package.json
  packages/halo-theme/CHANGELOG.md
  packages/halo-theme/package.json
  packages/i18n/CHANGELOG.md
  packages/i18n/package.json
  packages/solar-theme/CHANGELOG.md
  packages/solar-theme/package.json
  packages/test-helpers/CHANGELOG.md
  packages/test-helpers/package.json
  packages/translate/CHANGELOG.md
  packages/translate/package.json
  packages/utils/CHANGELOG.md
  packages/utils/package.json
Due: prettier --write --ignore-unknown

test(datetime-pickier): add preventCloseOnSelect test case
  packages/elements/src/datetime-picker/__test__/datetime-picker.navigation.test.js
Due: eslint --fix, prettier --write --ignore-unknown

refactor(tooltip): fix variable and comments
  packages/elements/src/tooltip/index.ts
Due: eslint --fix, prettier --write --ignore-unknown

fix(tooltip): fix tooltip reopen when mouse leaves
  packages/elements/src/tooltip/__test__/tooltip.test.js
  packages/elements/src/tooltip/index.ts
  packages/elements/src/tooltip/managers/tooltip-manager.ts
Due: eslint --fix, prettier --write --ignore-unknown

docs: rename method and comments
  packages/elements/src/tooltip/managers/tooltip-manager.ts
Due: eslint --fix, prettier --write --ignore-unknown

docs: fix wording
  packages/elements/src/tooltip/managers/tooltip-manager.ts
Due: eslint --fix, prettier --write --ignore-unknown

fix(tooltip): fix tooltip reopen when mouse leaves (#1276)
  packages/elements/src/tooltip/__test__/tooltip.test.js
  packages/elements/src/tooltip/index.ts
  packages/elements/src/tooltip/managers/tooltip-manager.ts
Due: eslint --fix, prettier --write --ignore-unknown

chore(datetime-picker): update property description
  packages/elements/src/datetime-picker/index.ts
Due: eslint --fix, prettier --write --ignore-unknown

Path conditions:
  eslint --fix: any of: *.{js,ts}
  prettier --write --ignore-unknown: any of: *.{js,mjs,ts,css,less,json,html,yml,md}
