Repository Refinitiv/refinitiv-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write --ignore-unknown

fix(number-field): fix Floating point Division on validate method
  packages/elements/src/number-field/__test__/number-field.validity.test.js
  packages/elements/src/number-field/index.ts
Due: eslint --fix, prettier --write --ignore-unknown

test(icon,flag): refactor unit tests
  packages/elements/src/flag/__test__/flag.test.js
  packages/elements/src/icon/__test__/helpers/helpers.js
  packages/elements/src/icon/__test__/icon.test.js
Due: eslint --fix, prettier --write --ignore-unknown

refactor(icon): update icon process flow
  packages/elemental-theme/src/custom-elements/ef-icon.less
  packages/elements/src/icon/__test__/helpers/helpers.js
  packages/elements/src/icon/__test__/icon.test.js
  packages/elements/src/icon/index.ts
  packages/elements/src/icon/utils/IconLoader.ts
  packages/elements/src/icon/utils/SpriteLoader.ts
  packages/halo-theme/src/custom-elements/ef-icon.less
  packages/solar-theme/src/custom-elements/ef-icon.less
Due: eslint --fix, prettier --write --ignore-unknown

fix(icon): update icon config check base64 format
  packages/elements/src/icon/index.ts
  packages/utils/src/loader.ts
  packages/utils/src/loader/svg-loader.ts
Due: eslint --fix, prettier --write --ignore-unknown

Update packages/elements/src/flag/__test__/flag.test.js
  packages/elements/src/flag/__test__/flag.test.js
Due: eslint --fix, prettier --write --ignore-unknown

refactor: remove deprecate api and related (#749)
  packages/core/__test__/elements/BasicElement.test.js
  packages/core/src/elements/BasicElement.ts
  packages/elements/src/flag/__test__/flag.test.js
  packages/elements/src/flag/index.ts
  packages/elements/src/icon/__test__/icon.test.js
  packages/elements/src/icon/index.ts
  packages/elements/src/interactive-chart/__test__/interactive-chart.test.js
  packages/elements/src/interactive-chart/index.ts
Due: eslint --fix, prettier --write --ignore-unknown

Update packages/elements/src/number-field/__test__/number-field.validity.test.js
  packages/elements/src/number-field/__test__/number-field.validity.test.js
Due: eslint --fix, prettier --write --ignore-unknown

Update packages/elements/src/number-field/index.ts
  packages/elements/src/number-field/index.ts
Due: eslint --fix, prettier --write --ignore-unknown

test(number-field): add more Floating point precision test cases
  packages/elements/src/number-field/__test__/number-field.validity.test.js
  packages/elements/src/number-field/index.ts
Due: eslint --fix, prettier --write --ignore-unknown

refactor(icon): refactor code
  packages/elements/src/icon/index.ts
  packages/elements/src/icon/utils/SpriteLoader.ts
  packages/utils/src/loader/svg-loader.ts
Due: eslint --fix, prettier --write --ignore-unknown

chore: update package lock file
  package-lock.json
Due: prettier --write --ignore-unknown

fix: fix theme-extractor not work on Windows
  scripts/release/theme-extractor.js
  scripts/release/util.js
Due: eslint --fix, prettier --write --ignore-unknown

fix: fix theme-extractor not work on Windows (#759)
  scripts/release/theme-extractor.js
  scripts/release/util.js
Due: eslint --fix, prettier --write --ignore-unknown

refactor(icon): change sprite cdn to prod cdn
  packages/elements/src/icon/utils/SpriteLoader.ts
Due: eslint --fix, prettier --write --ignore-unknown

fix(number-field): fix Floating point Division on validate method (#757)
  packages/elements/src/number-field/__test__/number-field.validity.test.js
  packages/elements/src/number-field/index.ts
Due: eslint --fix, prettier --write --ignore-unknown

docs: add core imports to typo doc
  documents/src/pages/styles/typography.md
Due: prettier --write --ignore-unknown

docs: remove buttton from movement color demo
  documents/src/pages/styles/movement-colors.md
Due: prettier --write --ignore-unknown

docs: add calendar import to time-picker demo
  documents/src/pages/elements/time-picker.md
Due: prettier --write --ignore-unknown

refactor(icon): refactor logic and test case
  packages/elements/src/icon/__test__/helpers/helpers.js
  packages/elements/src/icon/__test__/icon.test.js
  packages/elements/src/icon/index.ts
  packages/utils/src/loader/svg-loader.ts
Due: eslint --fix, prettier --write --ignore-unknown

fix(icon): add deprecated warning for preload method
  packages/elements/src/icon/utils/IconLoader.ts
Due: eslint --fix, prettier --write --ignore-unknown

docs: fix calendar demo error
  documents/src/pages/elements/calendar.md
Due: prettier --write --ignore-unknown

feat(icon): add cdn sprite prefix
  packages/elemental-theme/src/custom-elements/ef-icon.less
  packages/elements/src/icon/index.ts
  packages/elements/src/icon/utils/SpriteLoader.ts
  packages/halo-theme/src/custom-elements/ef-icon.less
  packages/solar-theme/src/custom-elements/ef-icon.less
Due: eslint --fix, prettier --write --ignore-unknown

refactor(icon): remove legacy replace css variable string
  packages/elements/src/icon/index.ts
Due: eslint --fix, prettier --write --ignore-unknown

docs: mark elements and its theme as external deps
  documents/esbuild.js
Due: eslint --fix, prettier --write --ignore-unknown

ci: test lerna version
  .github/workflows/dummy_test_lerna.yml
Due: prettier --write --ignore-unknown

ci: rename yml
  .github/workflows/dummy_test_lerna.yml
Due: prettier --write --ignore-unknown

ci: fix lerna to use from local
  .github/workflows/dev_release.yml
  .github/workflows/dummy_test_lerna.yml
  .github/workflows/pre_release.yml
  .github/workflows/prod_release.yml
  documents/package.json
Due: prettier --write --ignore-unknown

Update documents/package.json
  documents/package.json
Due: prettier --write --ignore-unknown

ci: fix lerna to use from local (#761)
  .github/workflows/dev_release.yml
  .github/workflows/pre_release.yml
  .github/workflows/prod_release.yml
Due: prettier --write --ignore-unknown

docs: bundle theme loader
  documents/esbuild.js
  documents/package.json
Due: eslint --fix, prettier --write --ignore-unknown

chore(release): publish [skip ci]
  documents/CHANGELOG.md
  documents/package.json
  package-lock.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/demo-block/CHANGELOG.md
  packages/demo-block/package.json
  packages/elements/CHANGELOG.md
  packages/elements/package.json
  packages/translate/CHANGELOG.md
  packages/translate/package.json
  packages/utils/CHANGELOG.md
  packages/utils/package.json
Due: prettier --write --ignore-unknown

docs: test intersection observer
  documents/package.json
  documents/tools/pandora-book-3.0.0-experimental.tgz
  package-lock.json
Due: prettier --write --ignore-unknown

chore(create-efx): update dependencies in package info template
  packages/create-efx/template/package.json.template
Due: none

chore(icon): add and update JSDoc icon
  packages/elements/src/icon/index.ts
  packages/elements/src/icon/utils/SpriteLoader.ts
Due: eslint --fix, prettier --write --ignore-unknown

Path conditions:
  eslint --fix: any of: *.{js,ts}
  prettier --write --ignore-unknown: any of: *.{js,mjs,ts,css,json,html,yml,md}
