Repository Refinitiv/refinitiv-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write --ignore-unknown

.lintstagedrc.json:

{
  "*.{js,ts}": "eslint --fix",
  "*.{js,mjs,ts,css,less,json,html,yml,md}": "prettier --write --ignore-unknown"
}

fix(number-field): up-click should not be fired by keyboard
  packages/elements/src/number-field/__test__/number-field.test.js
  packages/elements/src/number-field/index.ts
Due: eslint --fix, prettier --write --ignore-unknown

fix: mock snapshot change
  .github/labeler.yml
  packages/elements/src/button/__snapshots__/Button.md
Due: prettier --write --ignore-unknown

ci: update labeler config
  .github/labeler.yml
Due: prettier --write --ignore-unknown

refactor(number-field): make it easier to read
  packages/elements/src/number-field/index.ts
Due: eslint --fix, prettier --write --ignore-unknown

fix(sparkline): update browser-sparkline peer dependency to satisfy either v1.x or v2.x
  package-lock.json
  packages/elements/package.json
Due: prettier --write --ignore-unknown

fix(slider): add value-changed listener for slider input event
  packages/elements/src/slider/__test__/slider.event.test.js
  packages/elements/src/slider/index.ts
Due: eslint --fix, prettier --write --ignore-unknown

chore: update max demo
  packages/elements/src/tree-select/__demo__/index.html
Due: prettier --write --ignore-unknown

feat(slider): add input event (#888)
  packages/core/src/elements/BasicElement.ts
  packages/elements/src/slider/__demo__/index.html
  packages/elements/src/slider/__test__/slider.event.test.js
  packages/elements/src/slider/index.ts
Due: eslint --fix, prettier --write --ignore-unknown

feat(slider): add input event (#911)
  packages/core/src/elements/BasicElement.ts
  packages/elements/src/slider/__demo__/index.html
  packages/elements/src/slider/__test__/slider.event.test.js
  packages/elements/src/slider/index.ts
Due: eslint --fix, prettier --write --ignore-unknown

fix(slider): display and initial to value incorrectly
  packages/elements/src/slider/__test__/slider.test.js
  packages/elements/src/slider/index.ts
Due: eslint --fix, prettier --write --ignore-unknown

docs: revise sentence of limit item tree select section
  documents/src/pages/elements/tree-select.md
Due: prettier --write --ignore-unknown

chore: update browser-sparkline to v2 and turn it to peer dependency (#909)
  package-lock.json
  packages/elements/package.json
Due: prettier --write --ignore-unknown

chore: update browser-sparkline to v2 and turn it to peer dependency (#908)
  package-lock.json
  packages/elements/package.json
Due: prettier --write --ignore-unknown

feat: add max property
  documents/src/pages/elements/tree-select.md
  packages/elements/src/tree-select/__demo__/index.html
  packages/elements/src/tree-select/__test__/tree-select.interaction.test.js
  packages/elements/src/tree-select/__test__/tree-select.value.test.js
  packages/elements/src/tree-select/index.ts
Due: eslint --fix, prettier --write --ignore-unknown

feat(tree-select): add max property (#907)
  documents/src/pages/elements/tree-select.md
  packages/elements/src/tree-select/__demo__/index.html
  packages/elements/src/tree-select/__test__/tree-select.interaction.test.js
  packages/elements/src/tree-select/__test__/tree-select.value.test.js
  packages/elements/src/tree-select/index.ts
Due: eslint --fix, prettier --write --ignore-unknown

feat(tree-select): add max property (#915)
  documents/src/pages/elements/tree-select.md
  packages/elements/src/tree-select/__demo__/index.html
  packages/elements/src/tree-select/__test__/tree-select.interaction.test.js
  packages/elements/src/tree-select/__test__/tree-select.value.test.js
  packages/elements/src/tree-select/index.ts
Due: eslint --fix, prettier --write --ignore-unknown

chore(release): publish [skip ci]
  documents/CHANGELOG.md
  documents/package.json
  package-lock.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/create-efx/CHANGELOG.md
  packages/create-efx/package.json
  packages/demo-block/CHANGELOG.md
  packages/demo-block/package.json
  packages/elemental-theme/CHANGELOG.md
  packages/elemental-theme/package.json
  packages/elements/CHANGELOG.md
  packages/elements/package.json
  packages/halo-theme/CHANGELOG.md
  packages/halo-theme/package.json
  packages/i18n/CHANGELOG.md
  packages/i18n/package.json
  packages/phrasebook/CHANGELOG.md
  packages/phrasebook/package.json
  packages/solar-theme/CHANGELOG.md
  packages/solar-theme/package.json
  packages/test-helpers/CHANGELOG.md
  packages/test-helpers/package.json
  packages/theme-compiler/CHANGELOG.md
  packages/theme-compiler/package.json
  packages/translate/CHANGELOG.md
  packages/translate/package.json
  packages/utils/CHANGELOG.md
  packages/utils/package.json
Due: prettier --write --ignore-unknown

chore(release): publish [skip ci]
  documents/CHANGELOG.md
  documents/package.json
  package-lock.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/create-efx/CHANGELOG.md
  packages/create-efx/package.json
  packages/demo-block/CHANGELOG.md
  packages/demo-block/package.json
  packages/elemental-theme/CHANGELOG.md
  packages/elemental-theme/package.json
  packages/elements/CHANGELOG.md
  packages/elements/package.json
  packages/halo-theme/CHANGELOG.md
  packages/halo-theme/package.json
  packages/i18n/CHANGELOG.md
  packages/i18n/package.json
  packages/phrasebook/CHANGELOG.md
  packages/phrasebook/package.json
  packages/solar-theme/CHANGELOG.md
  packages/solar-theme/package.json
  packages/test-helpers/CHANGELOG.md
  packages/test-helpers/package.json
  packages/theme-compiler/CHANGELOG.md
  packages/theme-compiler/package.json
  packages/translate/CHANGELOG.md
  packages/translate/package.json
  packages/utils/CHANGELOG.md
  packages/utils/package.json
  vscode-extensions/snippets/CHANGELOG.md
  vscode-extensions/snippets/package.json
Due: prettier --write --ignore-unknown

fix(slider): remove logic to set default from/to to min/max
  packages/elements/src/slider/__demo__/index.html
  packages/elements/src/slider/__test__/slider.event.test.js
  packages/elements/src/slider/__test__/slider.test.js
  packages/elements/src/slider/index.ts
Due: eslint --fix, prettier --write --ignore-unknown

fix(slider): wrong commit
  packages/elements/src/slider/__demo__/index.html
Due: prettier --write --ignore-unknown

fix(slider): remove logic to set default from/to to min/max
  packages/elements/src/slider/__test__/slider.event.test.js
  packages/elements/src/slider/__test__/slider.test.js
  packages/elements/src/slider/index.ts
Due: eslint --fix, prettier --write --ignore-unknown

fix(slider): display and initial to value incorrectly (#914)
  packages/elements/src/slider/__test__/slider.event.test.js
  packages/elements/src/slider/__test__/slider.test.js
  packages/elements/src/slider/index.ts
Due: eslint --fix, prettier --write --ignore-unknown

fix(slider): display and initial to value incorrectly (#913)
  packages/elements/src/slider/__test__/slider.event.test.js
  packages/elements/src/slider/__test__/slider.test.js
  packages/elements/src/slider/index.ts
Due: eslint --fix, prettier --write --ignore-unknown

fix(slider): page freeze when from/to overflow max value
  packages/elements/src/slider/__test__/slider.test.js
  packages/elements/src/slider/index.ts
Due: eslint --fix, prettier --write --ignore-unknown

chore(slider): update follow PR feedback
  packages/elements/src/slider/__test__/slider.test.js
  packages/elements/src/slider/index.ts
Due: eslint --fix, prettier --write --ignore-unknown

fix(create-efx): correct type created by jsx generator
  packages/create-efx/template/scripts/jsx/jsxdts-generator.js
  packages/create-efx/template/scripts/jsx/utils.js
Due: eslint --fix, prettier --write --ignore-unknown

chore(create-efx): update engines of package.json
  packages/create-efx/template/package.json.template
Due: none

refactor: remove redundant interface
  packages/create-efx/template/src/efx-element.ts
Due: eslint --fix, prettier --write --ignore-unknown

refactor(create-efx): remove redundant interface
  packages/create-efx/template/src/efx-element.ts
Due: eslint --fix, prettier --write --ignore-unknown

feat(calendar): custom cell content and style
  packages/elements/src/calendar/index.ts
Due: eslint --fix, prettier --write --ignore-unknown

feat(calendar): add demo for custom cell content and style
  packages/elements/src/calendar/__demo__/index.html
Due: prettier --write --ignore-unknown

fix(slider): stepUp/stepDown not fire input event
  packages/elements/src/number-field/__demo__/index.html
  packages/elements/src/number-field/__test__/number-field.test.js
  packages/elements/src/number-field/index.ts
Due: eslint --fix, prettier --write --ignore-unknown

test(calendar): add unit test for custom cell content
  packages/elements/src/calendar/__test__/__snapshots__/calendar.defaults.test.snap.js
  packages/elements/src/calendar/__test__/__snapshots__/calendar.keyboard.test.snap.js
  packages/elements/src/calendar/__test__/__snapshots__/calendar.multiple.test.snap.js
  packages/elements/src/calendar/__test__/__snapshots__/calendar.navigation.test.snap.js
  packages/elements/src/calendar/__test__/__snapshots__/calendar.range.test.snap.js
  packages/elements/src/calendar/__test__/__snapshots__/calendar.value.test.snap.js
  packages/elements/src/calendar/__test__/calendar.defaults.test.js
  packages/elements/src/calendar/__test__/calendar.value.test.js
Due: eslint --fix, prettier --write --ignore-unknown
