Repository Refinitiv/refinitiv-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write --ignore-unknown

.lintstagedrc.json:

{
  "*.{js,ts}": "eslint --fix",
  "*.{js,mjs,ts,css,less,json,html,yml,md}": "prettier --write --ignore-unknown"
}

feat(datetime-picker): introduce preventCloseOnSelect to prevents the Picker from closing on date selection
  packages/elements/src/datetime-picker/__demo__/index.html
  packages/elements/src/datetime-picker/__test__/datetime-picker.navigation.test.js
  packages/elements/src/datetime-picker/index.ts
Due: eslint --fix, prettier --write --ignore-unknown

chore(datetime-picker): remove demo
  packages/elements/src/datetime-picker/__demo__/index.html
Due: prettier --write --ignore-unknown

fix(tooltip): fix tooltip reopen when mouse leaves
  packages/elements/src/tooltip/__test__/tooltip.test.js
  packages/elements/src/tooltip/index.ts
  packages/elements/src/tooltip/managers/tooltip-manager.ts
Due: eslint --fix, prettier --write --ignore-unknown

refactor: remove unused code
  packages/elements/src/tooltip/index.ts
Due: eslint --fix, prettier --write --ignore-unknown

fix: fix test
  packages/elements/src/tooltip/index.ts
Due: eslint --fix, prettier --write --ignore-unknown

fix(tooltip): fix tooltip reopen when mouse leaves (#1279)
  packages/elements/src/tooltip/__test__/tooltip.test.js
  packages/elements/src/tooltip/index.ts
  packages/elements/src/tooltip/managers/tooltip-manager.ts
Due: eslint --fix, prettier --write --ignore-unknown

feat(datetime-picker): introduce preventCloseOnSelect to prevents the Picker from closing on date selection (#1278)
  packages/elements/src/datetime-picker/__demo__/index.html
  packages/elements/src/datetime-picker/__test__/datetime-picker.navigation.test.js
  packages/elements/src/datetime-picker/index.ts
Due: eslint --fix, prettier --write --ignore-unknown

feat(datetime-picker): introduce preventCloseOnSelect to prevents the Picker from closing on date selection (#1277)
  packages/elements/src/datetime-picker/__demo__/index.html
  packages/elements/src/datetime-picker/__test__/datetime-picker.navigation.test.js
  packages/elements/src/datetime-picker/index.ts
Due: eslint --fix, prettier --write --ignore-unknown

fix: nextjs report from security team (#1270)
  .gitignore
Due: none

fix: nextjs report from security team
  .gitignore
Due: none

fix: nextjs report from security team (#1280)
  .gitignore
Due: none

chore(release): publish [skip ci]
  documents/CHANGELOG.md
  documents/package.json
  package-lock.json
  packages/elements/CHANGELOG.md
  packages/elements/package.json
Due: prettier --write --ignore-unknown

fix(chart): fix ticks color
  packages/elements/src/chart/elements/chart.ts
Due: eslint --fix, prettier --write --ignore-unknown

fix(chart): fix ticks color (#1281)
  packages/elements/src/chart/elements/chart.ts
Due: eslint --fix, prettier --write --ignore-unknown

fix(icon): handle undefined sprite loading with console warning
  packages/elements/src/icon/utils/SpriteLoader.ts
Due: eslint --fix, prettier --write --ignore-unknown

fix(icon): ensure sprite loading throws an error on failure
  packages/core/src/index.ts
  packages/core/src/notices/ErrorNotice.ts
  packages/elements/src/icon/index.ts
  packages/elements/src/icon/utils/SpriteLoader.ts
Due: eslint --fix, prettier --write --ignore-unknown

fix(icon): correct typo in jsdoc
  packages/elements/src/icon/utils/SpriteLoader.ts
Due: eslint --fix, prettier --write --ignore-unknown

fix(core): rename ErrorNotice to ErrorThrower and update error handling logic
  packages/core/src/index.ts
  packages/core/src/notices/ErrorThrower.ts
  packages/elements/src/icon/index.ts
Due: eslint --fix, prettier --write --ignore-unknown

fix(core): resolve sonarcloud issue
  packages/core/src/notices/ErrorThrower.ts
Due: eslint --fix, prettier --write --ignore-unknown

fix(icon): refactor ErrorThrower to accept dynamic error messages
  packages/core/src/notices/ErrorThrower.ts
  packages/elements/src/icon/index.ts
Due: eslint --fix, prettier --write --ignore-unknown

fix(icon): refactor ErrorThrower to accept dynamic error messages
  packages/core/src/index.ts
  packages/core/src/notices/ErrorNotice.ts
  packages/core/src/notices/ErrorThrower.ts
  packages/elements/src/icon/index.ts
  packages/elements/src/icon/utils/SpriteLoader.ts
Due: eslint --fix, prettier --write --ignore-unknown

fix(icon): throw error once per session if sprite icon fails to load (#1284)
  packages/core/src/index.ts
  packages/core/src/notices/ErrorThrower.ts
  packages/elements/src/icon/index.ts
Due: eslint --fix, prettier --write --ignore-unknown

fix(icon): throw error once per session if sprite icon fails to load (#1285)
  packages/core/src/index.ts
  packages/core/src/notices/ErrorThrower.ts
  packages/elements/src/icon/index.ts
Due: eslint --fix, prettier --write --ignore-unknown

chore(release): publish [skip ci]
  documents/CHANGELOG.md
  documents/package.json
  package-lock.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/demo-block/CHANGELOG.md
  packages/demo-block/package.json
  packages/elements/CHANGELOG.md
  packages/elements/package.json
  packages/translate/CHANGELOG.md
  packages/translate/package.json
Due: prettier --write --ignore-unknown

chore: update SonarSource scan GitHub action to v5 fixing security vulnerability
  .github/workflows/sonarcloud_scan.yml
Due: prettier --write --ignore-unknown

chore: update SonarSource scan GitHub action to v5 fixing security vulnerability (#1287)
  .github/workflows/sonarcloud_scan.yml
Due: prettier --write --ignore-unknown

chore: update SonarSource scan GitHub action to v5 fixing security vulnerability (#1288)
  .github/workflows/sonarcloud_scan.yml
Due: prettier --write --ignore-unknown

chore: update npm to latest version in main branch check workflow
  .github/workflows/main_branch_check.yml
Due: prettier --write --ignore-unknown

chore: update npm engine version to >=11.5.1 in package.json files
  documents/package.json
  package-lock.json
  package.json
  packages/create-efx/template/package.json.template
  packages/elements/package.json
Due: prettier --write --ignore-unknown

chore: add permissions for OIDC and npm.js Trusted Publishing in production and pre release workflow
  .github/workflows/pre_release.yml
  .github/workflows/prod_release.yml
Due: prettier --write --ignore-unknown

chore: move npm update step to setup action for consistency
  .github/actions/setup/action.yml
  .github/workflows/main_branch_check.yml
Due: prettier --write --ignore-unknown

chore: remove NODE_AUTH_TOKEN from NPM publish steps in workflows
  .github/workflows/dev_release.yml
  .github/workflows/pre_release.yml
  .github/workflows/prod_release.yml
Due: prettier --write --ignore-unknown

chore: update SonarCloud scan action to version 6
  .github/workflows/sonarcloud_scan.yml
Due: prettier --write --ignore-unknown

ci: implement trusted publishing (#1291)
  .github/actions/setup/action.yml
  .github/workflows/dev_release.yml
  .github/workflows/pre_release.yml
  .github/workflows/prod_release.yml
  .github/workflows/sonarcloud_scan.yml
  documents/package.json
  package-lock.json
  package.json
  packages/create-efx/template/package.json.template
  packages/elements/package.json
Due: prettier --write --ignore-unknown
