Repository Refinitiv/refinitiv-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write --ignore-unknown

feat: run build verbose
  documents/package.json
  package.json
Due: prettier --write --ignore-unknown

revert: solar build script
  packages/solar-theme/package.json
Due: prettier --write --ignore-unknown

test(icon): remove unused import
  packages/elements/src/icon/__test__/icon.test.js
Due: eslint --fix, prettier --write --ignore-unknown

docs(configuration): update usage guide
  documents/src/pages/elements/configuration.md
Due: prettier --write --ignore-unknown

feat: extract themes on element build
  packages/elements/package.json
  packages/elements/scripts/release/index.js
  packages/halo-theme/package.json
Due: eslint --fix, prettier --write --ignore-unknown

docs(configuration): typo
  documents/src/pages/elements/configuration.md
Due: prettier --write --ignore-unknown

chore: remove caching from test workflow
  .github/workflows/test.yml
Due: prettier --write --ignore-unknown

chore: remove verbose flag
  package.json
Due: prettier --write --ignore-unknown

revert: back the font size;
  documents/src/theme-loader.js
Due: eslint --fix, prettier --write --ignore-unknown

refactor: use shared option
  documents/esbuild.js
Due: eslint --fix, prettier --write --ignore-unknown

feat: optimize images
  documents/resources/images/chrome.png
  documents/resources/images/edge.png
  documents/resources/images/firefox.png
  documents/resources/images/halo-banner.png
  documents/resources/images/home.components.png
  documents/resources/images/home.performance.png
  documents/resources/images/home.theming.png
  documents/resources/images/ie.png
  documents/resources/images/refinitiv-bg.jpeg
  documents/resources/images/safari.png
Due: none

build: fix process exit depend on in child process
  packages/elements/scripts/cmd/test.mjs
  scripts/tests/runner.mjs
Due: prettier --write --ignore-unknown

docs(configuration): fix wrong usage guide import part (#747)
  documents/src/pages/elements/configuration.md
Due: prettier --write --ignore-unknown

ci: sync nightly test v7 workflow
  .github/workflows/test_nightly.yml
  .github/workflows/test_nightly_v7.yml
Due: prettier --write --ignore-unknown

refactor: remove deprecate api and related
  packages/core/__test__/elements/BasicElement.test.js
  packages/core/src/elements/BasicElement.ts
  packages/elements/src/flag/__test__/flag.test.js
  packages/elements/src/flag/index.ts
  packages/elements/src/icon/__test__/helpers/helpers.js
  packages/elements/src/icon/__test__/icon.test.js
  packages/elements/src/icon/index.ts
  packages/elements/src/interactive-chart/__test__/interactive-chart.test.js
  packages/elements/src/interactive-chart/index.ts
Due: eslint --fix, prettier --write --ignore-unknown

feat: add a shortcut clean script
  lerna.json
  package-lock.json
  package.json
  packages/core/package.json
  packages/create-efx/package.json
  packages/demo-block/package.json
  packages/elements/package.json
  packages/elements/tsconfig.json
  packages/i18n/package.json
  packages/phrasebook/package.json
  packages/test-helpers/package.json
  packages/translate/package.json
  packages/utils/package.json
Due: prettier --write --ignore-unknown

chore: use built-in package data cache of setup-node
  .github/actions/setup/action.yml
Due: prettier --write --ignore-unknown

chore: scope action/cache within a workflow only
  .github/actions/setup/action.yml
  .github/workflows/test.yml
  .github/workflows/test_browserstack.yml
  .github/workflows/test_coverage.yml
  .github/workflows/test_nightly.yml
Due: prettier --write --ignore-unknown

fix: combobox custom render path
  documents/src/pages/elements/combo-box.md
Due: prettier --write --ignore-unknown

fix: add `core` and `utils` bundle to be able to show grid navigation live example
  documents/esbuild.js
  documents/package.json
  documents/src/pages/utils/navigation-grid.md
Due: eslint --fix, prettier --write --ignore-unknown

refactor: align with v7 workflow
  packages/elements/package.json
  packages/elements/scripts/release/index.js
  packages/halo-theme/package.json
  packages/solar-theme/package.json
Due: eslint --fix, prettier --write --ignore-unknown

feat: theme extractor looks for elements in `src` instead of `lib` to eliminate the need to wait
  packages/create-efx/template/scripts/jsx/jsxdts-generator.js
  packages/create-efx/template/scripts/jsx/utils.js
  scripts/release/api-analyzer.js
  scripts/release/jsxdts-generator.js
  scripts/release/theme-extractor.js
  scripts/release/util.js
Due: eslint --fix, prettier --write --ignore-unknown

Chore/ci-cache-per-workflow-only (#751)
  .github/actions/setup/action.yml
  .github/workflows/test.yml
  .github/workflows/test_browserstack.yml
  .github/workflows/test_coverage.yml
  .github/workflows/test_nightly.yml
Due: prettier --write --ignore-unknown

Docs/update-chart-live-examples (#740)
  documents/package.json
  documents/src/pages/elements/chart.md
  documents/src/templates/import-element/ef-chart.md
  package-lock.json
  packages/elements/src/chart/__demo__/index.html
Due: prettier --write --ignore-unknown

fix(chart): update type to follow Chartjs typescript guide
  packages/elements/src/chart/elements/chart.ts
Due: eslint --fix, prettier --write --ignore-unknown

ci: update schedule nightly test time
  .github/workflows/test_nightly.yml
  .github/workflows/test_nightly_v7.yml
Due: prettier --write --ignore-unknown

docs: fix China from `ch` to `cn`
  documents/src/pages/elements/combo-box.md
Due: prettier --write --ignore-unknown

fix(chart): fix radar scale backdrop to be false (#746)
  packages/elements/src/chart/elements/chart.ts
  packages/elements/src/chart/plugins/doughnut-center-label.ts
Due: eslint --fix, prettier --write --ignore-unknown

ci: update nightly test schedule
  .github/workflows/test_nightly.yml
Due: prettier --write --ignore-unknown

test: use `HTTP2` with `Web Test Runner`
  .github/actions/run-test/action.yml
  .github/workflows/test.yml
  .github/workflows/test_nightly.yml
  .gitignore
  scripts/tests/run.mjs
  web-test-runner.config.mjs
Due: prettier --write --ignore-unknown

test: use default browser launcher headless option is true
  web-test-runner.config.mjs
Due: prettier --write --ignore-unknown

chore: revise ci caching allowing job rerun
  .github/actions/run-test/action.yml
  .github/actions/setup/action.yml
  .github/workflows/test.yml
  .github/workflows/test_browserstack.yml
  .github/workflows/test_coverage.yml
  .github/workflows/test_nightly.yml
  .github/workflows/test_nightly_v7.yml
Due: prettier --write --ignore-unknown

chore: add missing shell specifier
  .github/actions/setup/action.yml
Due: prettier --write --ignore-unknown

chore: fix typo
  .github/actions/setup/action.yml
Due: prettier --write --ignore-unknown

feat(icon): update icon flow
  packages/elements/src/icon/__demo__/index.html
  packages/elements/src/icon/index.ts
  packages/elements/src/icon/utils/SpriteLoader.ts
  packages/utils/src/loader.ts
  packages/utils/src/loader/svg-loader.ts
Due: eslint --fix, prettier --write --ignore-unknown

chore: allow the workflow to continue when download artifact fails
  .github/workflows/test.yml
Due: prettier --write --ignore-unknown

chore: remove experimental nightly test workflow
  .github/workflows/test_nightly.yml
  .github/workflows/test_nightly_v7.yml
Due: prettier --write --ignore-unknown

chore: revise ci cache key so it persist between attempts
  .github/actions/setup/action.yml
Due: prettier --write --ignore-unknown

ci: refactor nightly test v6 and v7
  .github/workflows/test_nightly_v6.yml
  .github/workflows/test_nightly_v7.yml
Due: prettier --write --ignore-unknown

Path conditions:
  eslint --fix: any of: *.{js,ts}
  prettier --write --ignore-unknown: any of: *.{js,mjs,ts,css,json,html,yml,md}
